//border-color

[class^="border-"].default {
  border-color: $color-default;
}

.#{$border-transparent} {
  border-color: transparent;
}

@each $key, $value in $black-white {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $red-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $pink-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $purple-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $deep-purple-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $indigo-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $blue-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $light-blue-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $cyan-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $teal-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $green-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $light-green-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $lime-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $yellow-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $amber-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $orange-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $deep-orange-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $brown-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $grey-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

@each $key, $value in $blue-grey-series {
  .#{$border}-#{$key} {
    @include border-variant($value);
  }
}

//responsive-pc

@media (max-width: 1199px) {
  //Extra large devices (large desktops, 992px and 1200px)
  .#{$border-transparent}-lg {
    border-color: transparent;
  }

  @each $key, $value in $black-white {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $red-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $pink-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $purple-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $deep-purple-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $indigo-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $blue-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $light-blue-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $cyan-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $teal-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $green-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $light-green-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $lime-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $yellow-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $amber-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $orange-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $deep-orange-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $brown-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $grey-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }

  @each $key, $value in $blue-grey-series {
    .#{$border}-#{$key}-lg {
      @include border-variant($value);
    }
  }
}

@media (max-width: 991px) {
  //Large devices (desktops, 768px and 992px)
  .#{$border-transparent}-md {
    border-color: transparent;
  }

  @each $key, $value in $black-white {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $red-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $pink-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $purple-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $deep-purple-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $indigo-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $blue-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $light-blue-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $cyan-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $teal-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $green-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $light-green-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $lime-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $yellow-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $amber-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $orange-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $deep-orange-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $brown-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $grey-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }

  @each $key, $value in $blue-grey-series {
    .#{$border}-#{$key}-md {
      @include border-variant($value);
    }
  }
}

@media (max-width: 767px) {
  //Medium devices (tablets, 576px and 768px)
  .#{$border-transparent}-sm {
    border-color: transparent;
  }

  @each $key, $value in $black-white {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $red-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $pink-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $purple-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $deep-purple-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $indigo-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $blue-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $light-blue-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $cyan-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $teal-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $green-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $light-green-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $lime-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $yellow-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $amber-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $orange-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $deep-orange-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $brown-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $grey-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }

  @each $key, $value in $blue-grey-series {
    .#{$border}-#{$key}-sm {
      @include border-variant($value);
    }
  }
}

@media (max-width: 575px) {
  //Small devices (landscape phones, max-width 576px)
  .#{$border-transparent}-xs {
    border-color: transparent;
  }

  @each $key, $value in $black-white {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $red-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $pink-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $purple-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $deep-purple-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $indigo-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $blue-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $light-blue-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $cyan-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $teal-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $green-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $light-green-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $lime-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $yellow-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $amber-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $orange-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $deep-orange-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $brown-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $grey-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }

  @each $key, $value in $blue-grey-series {
    .#{$border}-#{$key}-xs {
      @include border-variant($value);
    }
  }
}

//responsive-mobile

//Extra small devices (portrait phones, less than 576px)
//No media query for `xs` since this is the default

@media (min-width: 576px) {
  //Small devices (landscape phones, 576px and up)
}

@media (min-width: 768px) {
  //Medium devices (tablets, 768px and up)
}

@media (min-width: 992px) {
  //Large devices (desktops, 992px and up)
}

@media (min-width: 1200px) {
  //Extra large devices (large desktops, 1200px and up)
}