@import "variables";

// ===== col =====
$column-width-1: calc(100% / 12 * 1) !default;
$column-width-2: calc(100% / 12 * 2) !default;
$column-width-3: calc(100% / 12 * 3) !default;
$column-width-4: calc(100% / 12 * 4) !default;
$column-width-5: calc(100% / 12 * 5) !default;
$column-width-6: calc(100% / 12 * 6) !default;
$column-width-7: calc(100% / 12 * 7) !default;
$column-width-8: calc(100% / 12 * 8) !default;
$column-width-9: calc(100% / 12 * 9) !default;
$column-width-10: calc(100% / 12 * 10) !default;
$column-width-11: calc(100% / 12 * 11) !default;
$column-width-12: calc(100% / 12 * 12) !default;

$column-width-series: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$column-width-series: map_merge(
                (
                        "1": $column-width-1,
                        "2": $column-width-2,
                        "3": $column-width-3,
                        "4": $column-width-4,
                        "5": $column-width-5,
                        "6": $column-width-6,
                        "7": $column-width-7,
                        "8": $column-width-8,
                        "9": $column-width-9,
                        "10": $column-width-10,
                        "11": $column-width-11,
                        "12": $column-width-12,
                ),
                $column-width-series
);

$column-flex-series: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$column-flex-series: map_merge(
                (
                        "1": ($number-1 * 1),
                        "2": ($number-1 * 2),
                        "3": ($number-1 * 3),
                        "4": ($number-1 * 4),
                        "5": ($number-1 * 5),
                        "6": ($number-1 * 6),
                        "7": ($number-1 * 7),
                        "8": ($number-1 * 8),
                        "9": ($number-1 * 9),
                        "10": ($number-1 * 10),
                        "11": ($number-1 * 11),
                        "12": ($number-1 * 12),
                ),
                $column-flex-series
);