@import "variables";

// ===== line-height =====
$line-height-number-series: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$line-height-number-series: map_merge(
                (
                        "1": ($number-1 * 1),
                        "1-2": ($number-1 * 1.2),
                        "1-4": ($number-1 * 1.4),
                        "1-6": ($number-1 * 1.6),
                        "1-8": ($number-1 * 1.8),
                        "2": ($number-1 * 2),
                        "2-2": ($number-1 * 2.2),
                        "2-4": ($number-1 * 2.4),
                        "2-6": ($number-1 * 2.6),
                        "2-8": ($number-1 * 2.8),
                        "3": ($number-1 * 3),
                        "3-2": ($number-1 * 3.2),
                        "3-4": ($number-1 * 3.4),
                        "3-6": ($number-1 * 3.6),
                        "3-8": ($number-1 * 3.8),
                        "4": ($number-1 * 4),
                        "4-2": ($number-1 * 4.2),
                        "4-4": ($number-1 * 4.4),
                        "4-6": ($number-1 * 4.6),
                        "4-8": ($number-1 * 4.8),
                        "5": ($number-1 * 5),
                ),
                $line-height-number-series
);

$line-height-pixel-series: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$line-height-pixel-series: map_merge(
                (
                        //"1": ($pixel-1 * 1),
                        "5": ($pixel-1 * 5),
                        "10": ($pixel-1 * 10),
                        "15": ($pixel-1 * 15),
                        "20": ($pixel-1 * 20),
                        "25": ($pixel-1 * 25),
                        "30": ($pixel-1 * 30),
                        "35": ($pixel-1 * 35),
                        "40": ($pixel-1 * 40),
                        "45": ($pixel-1 * 45),
                        "50": ($pixel-1 * 50),
                        "55": ($pixel-1 * 55),
                        "60": ($pixel-1 * 60),
                        "65": ($pixel-1 * 65),
                        "70": ($pixel-1 * 70),
                        "75": ($pixel-1 * 75),
                        "80": ($pixel-1 * 80),
                        "85": ($pixel-1 * 85),
                        "90": ($pixel-1 * 90),
                        "95": ($pixel-1 * 95),
                        "100": ($pixel-1 * 100),
                ),
                $line-height-pixel-series
);