@import "variables";

// ===== width =====
$width-grid-series: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$width-grid-series: map_merge(
                (
                        "5p":($percent-1 * 5),
                        "10p":($percent-1 * 10),
                        "15p":($percent-1 * 15),
                        "20p":($percent-1 * 20),
                        "25p":($percent-1 * 25),
                        "30p":($percent-1 * 30),
                        "35p":($percent-1 * 35),
                        "40p":($percent-1 * 40),
                        "45p":($percent-1 * 45),
                        "50p":($percent-1 * 50),
                        "55p":($percent-1 * 55),
                        "60p":($percent-1 * 60),
                        "65p":($percent-1 * 65),
                        "70p":($percent-1 * 70),
                        "75p":($percent-1 * 75),
                        "80p":($percent-1 * 80),
                        "85p":($percent-1 * 85),
                        "90p":($percent-1 * 90),
                        "95p":($percent-1 * 95),
                        "100p":($percent-1 * 100),
                ),
                $width-grid-series
);

$width-offset-series: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$width-offset-series: map_merge(
                (
                        "0":($percent-1 * 0),
                        "5p":($percent-1 * 5),
                        "10p":($percent-1 * 10),
                        "15p":($percent-1 * 15),
                        "20p":($percent-1 * 20),
                        "25p":($percent-1 * 25),
                        "30p":($percent-1 * 30),
                        "35p":($percent-1 * 35),
                        "40p":($percent-1 * 40),
                        "45p":($percent-1 * 45),
                        "50p":($percent-1 * 50),
                        "55p":($percent-1 * 55),
                        "60p":($percent-1 * 60),
                        "65p":($percent-1 * 65),
                        "70p":($percent-1 * 70),
                        "75p":($percent-1 * 75),
                        "80p":($percent-1 * 80),
                        "85p":($percent-1 * 85),
                        "90p":($percent-1 * 90),
                        "95p":($percent-1 * 95),
                ),
                $width-offset-series
);

$width-push-series: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$width-push-series: map_merge(
                (
                        "0":($percent-1 * 0),
                        "5p":($percent-1 * 5),
                        "10p":($percent-1 * 10),
                        "15p":($percent-1 * 15),
                        "20p":($percent-1 * 20),
                        "25p":($percent-1 * 25),
                        "30p":($percent-1 * 30),
                        "35p":($percent-1 * 35),
                        "40p":($percent-1 * 40),
                        "45p":($percent-1 * 45),
                        "50p":($percent-1 * 50),
                        "55p":($percent-1 * 55),
                        "60p":($percent-1 * 60),
                        "65p":($percent-1 * 65),
                        "70p":($percent-1 * 70),
                        "75p":($percent-1 * 75),
                        "80p":($percent-1 * 80),
                        "85p":($percent-1 * 85),
                        "90p":($percent-1 * 90),
                        "95p":($percent-1 * 95),
                ),
                $width-push-series
);

$width-pull-series: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$width-pull-series: map_merge(
                (
                        "0":($percent-1 * 0),
                        "5p":($percent-1 * 5),
                        "10p":($percent-1 * 10),
                        "15p":($percent-1 * 15),
                        "20p":($percent-1 * 20),
                        "25p":($percent-1 * 25),
                        "30p":($percent-1 * 30),
                        "35p":($percent-1 * 35),
                        "40p":($percent-1 * 40),
                        "45p":($percent-1 * 45),
                        "50p":($percent-1 * 50),
                        "55p":($percent-1 * 55),
                        "60p":($percent-1 * 60),
                        "65p":($percent-1 * 65),
                        "70p":($percent-1 * 70),
                        "75p":($percent-1 * 75),
                        "80p":($percent-1 * 80),
                        "85p":($percent-1 * 85),
                        "90p":($percent-1 * 90),
                        "95p":($percent-1 * 95),
                ),
                $width-pull-series
);

$width-auto: auto !default;
$width-screen: 100vw !default;
$width-pixel-series: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$width-pixel-series: map_merge(
                (
                        "1": ($pixel-1 * 1),
                        "2": ($pixel-1 * 2),
                        "3": ($pixel-1 * 3),
                        "4": ($pixel-1 * 4),
                        "5": ($pixel-1 * 5),
                        "6": ($pixel-1 * 6),
                        "7": ($pixel-1 * 7),
                        "8": ($pixel-1 * 8),
                        "9": ($pixel-1 * 9),
                        "10": ($pixel-1 * 10),
                        "15": ($pixel-1 * 15),
                        "20": ($pixel-1 * 20),
                        "25": ($pixel-1 * 25),
                        "30": ($pixel-1 * 30),
                        "35": ($pixel-1 * 35),
                        "40": ($pixel-1 * 40),
                        "45": ($pixel-1 * 45),
                        "50": ($pixel-1 * 50),
                        "55": ($pixel-1 * 55),
                        "60": ($pixel-1 * 60),
                        "65": ($pixel-1 * 65),
                        "70": ($pixel-1 * 70),
                        "75": ($pixel-1 * 75),
                        "80": ($pixel-1 * 80),
                        "85": ($pixel-1 * 85),
                        "90": ($pixel-1 * 90),
                        "95": ($pixel-1 * 95),
                        "100": ($pixel-1 * 100),
                        "auto": $width-auto,
                        "screen": $width-screen,
                ),
                $width-pixel-series
);