//这里是混合宏预设集合

//background
@mixin gradient-bg($color) {
  @if $enable-gradients {
    background: $color linear-gradient(180deg, mix($body-bg, $color, 15%), $color) repeat-x;
  } @else {
    background-color: $color;
  }
}

@mixin bg-variant(
  $background,
  $hover-background: darken($background, 7.5%),
  $active-background: darken($background, 10%)) {
  @include gradient-bg($background);
}