///variables
//这里是占位符、混合宏、布尔值、maps函数，等变量集合
@import "color";
@import "class";

%single-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%radius-none {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $color-2 !default;
$yiq-text-light: $color-f !default;

// Options
$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-prefers-reduced-motion-media-query: true !default;
$enable-hover-media-query: false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes: true !default;
$enable-pointer-cursor-for-buttons: true !default;
$enable-print-styles: true !default;
$enable-responsive-font-sizes: false !default;
$enable-validation-icons: true !default;
$enable-deprecation-messages: true !default;

// ===== default number =====
$percent-1: 1% !default;
$number-1: 1 !default;
$pixel-1: 1px !default;
$rem-1: 1rem !default;
$em-1: 1em !default;
$auto: auto !default;
$inherit: inherit !default;

// ===== rem-size-series =====
$rem-size-series: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$rem-size-series: map_merge(
                (
                        "r025": ($rem-1 * .25),
                        "r050": ($rem-1 * .5),
                        "r075":($rem-1 * .75),
                        "r0875":($rem-1 * .875),
                        "r100": ($rem-1 * 1),
                        "r125": ($rem-1 * 1.25),
                        "r150": ($rem-1 * 1.5),
                        "r175": ($rem-1 * 1.75),
                        "r200": ($rem-1 * 2),
                        "r225":($rem-1 * 2.25),
                        "r250": ($rem-1 * 2.5),
                        "r275": ($rem-1 * 2.75),
                        "r300": ($rem-1 * 3),
                        "r325": ($rem-1 * 3.25),
                        "r350": ($rem-1 * 3.5),
                        "r375":($rem-1 * 3.75),
                        "r400":($rem-1 * 4),
                        "r425":($rem-1 * 4.25),
                        "r450":($rem-1 * 4.5),
                        "r475":($rem-1 * 4.75),
                        "r500":($rem-1 * 5),
                        "r525":($rem-1 * 5.25),
                        "r550":($rem-1 * 5.5),
                        "r575":($rem-1 * 5.75),
                        "r600":($rem-1 * 6),
                        "auto": $auto,
                        "inherit": $inherit,
                ),
                $rem-size-series
);

$rem-text-size-series: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$rem-text-size-series: map_merge(
                (
                        "r025": ($rem-1 * .25),
                        "r050": ($rem-1 * .5),
                        "r075":($rem-1 * .75),
                        "r0875":($rem-1 * .875),
                        "r100": ($rem-1 * 1),
                        "r125": ($rem-1 * 1.25),
                        "r150": ($rem-1 * 1.5),
                        "r175": ($rem-1 * 1.75),
                        "r200": ($rem-1 * 2),
                        "r225":($rem-1 * 2.25),
                        "r250": ($rem-1 * 2.5),
                        "r275": ($rem-1 * 2.75),
                        "r300": ($rem-1 * 3),
                        "r325": ($rem-1 * 3.25),
                        "r350": ($rem-1 * 3.5),
                        "r375":($rem-1 * 3.75),
                        "r400":($rem-1 * 4),
                        "r425":($rem-1 * 4.25),
                        "r450":($rem-1 * 4.5),
                        "r475":($rem-1 * 4.75),
                        "r500":($rem-1 * 5),
                        "r525":($rem-1 * 5.25),
                        "r550":($rem-1 * 5.5),
                        "r575":($rem-1 * 5.75),
                        "r600":($rem-1 * 6),
                ),
                $rem-text-size-series
);

$rem-size-minus-series: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$rem-size-minus-series: map_merge(
                (
                        "r025": -($rem-1 * .25),
                        "r050": -($rem-1 * .5),
                        "r075":-($rem-1 * .75),
                        "r0875":-($rem-1 * .875),
                        "r100": -($rem-1 * 1),
                        "r125": -($rem-1 * 1.25),
                        "r150": -($rem-1 * 1.5),
                        "r175": -($rem-1 * 1.75),
                        "r200": -($rem-1 * 2),
                        "r225":-($rem-1 * 2.25),
                        "r250": -($rem-1 * 2.5),
                        "r275": -($rem-1 * 2.75),
                        "r300": -($rem-1 * 3),
                        "r325": -($rem-1 * 3.25),
                        "r350": -($rem-1 * 3.5),
                        "r375":-($rem-1 * 3.75),
                        "r400":-($rem-1 * 4),
                        "r425":-($rem-1 * 4.25),
                        "r450":-($rem-1 * 4.5),
                        "r475":-($rem-1 * 4.75),
                        "r500":-($rem-1 * 5),
                        "r525":-($rem-1 * 5.25),
                        "r550":-($rem-1 * 5.5),
                        "r575":-($rem-1 * 5.75),
                        "r600":-($rem-1 * 6),
                ),
                $rem-size-minus-series
);