//color

.aliceblue {
  color: #f0f8ff;
  //color: rgb(240, 248, 255);
}

.antiquewhite {
  color: #faebd7;
  //color: rgb(250, 235, 215);
}

.aqua {
  color: #0ff;
  //color: rgb(0, 255, 255);
}

.aquamarine {
  color: #7fffd4;
  //color: rgb(127, 255, 212);
}

.azure {
  color: #f0ffff;
  //color: rgb(240, 255, 255);
}

.beige {
  color: #f5f5dc;
  //color: rgb(245, 245, 220);
}

.bisque {
  color: #ffe4c4;
  //color: rgb(255, 228, 196);
}

.black {
  color: #000;
  //color: rgb(0, 0, 0);
}

.blanchedalmond {
  color: #ffebcd;
  //color: rgb(255, 235, 205);
}

.blue {
  color: #00f;
  //color: rgb(0, 0, 255);
}

.blueviolet {
  color: #8a2be2;
  //color: rgb(138, 43, 226);
}

.brown {
  color: #a52a2a;
  //color: rgb(165, 42, 42);
}

.burlywood {
  color: #deb887;
  //color: rgb(222, 184, 135);
}

.cadetblue {
  color: #5f9ea0;
  //color: rgb(95, 158, 160);
}

.chartreuse {
  color: #7fff00;
  //color: rgb(127, 255, 0);
}

.chocolate {
  color: #d2691e;
  //color: rgb(210, 105, 30);
}

.coral {
  color: #ff7f50;
  //color: rgb(255, 127, 80);
}

.cornflowerblue {
  color: #6495ed;
  //color: rgb(100, 149, 237);
}

.cornsilk {
  color: #fff8dc;
  //color: rgb(255, 248, 220);
}

.crimson {
  color: #dc143c;
  //color: rgb(220, 20, 60);
}

.cyan {
  color: #0ff;
  //color: rgb(0, 255, 255);
}

.darkblue {
  color: #00008b;
  //color: rgb(0, 0, 139);
}

.darkcyan {
  color: #008b8b;
  //color: rgb(0, 139, 139);
}

.darkgoldenrod {
  color: #b8860b;
  //color: rgb(184, 134, 11);
}

.darkgray,
.darkgrey {
  color: #a9a9a9;
  //color: rgb(169, 169, 169);
}

.darkgreen {
  color: #006400;
  //color: rgb(0, 100, 0);
}

.darkkhaki {
  color: #bdb76b;
  //color: rgb(189, 183, 107);
}

.darkmagenta {
  color: #8b008b;
  //color: rgb(139, 0, 139);
}

.darkolivegreen {
  color: #556b2f;
  //color: rgb(85, 107, 47);
}

.darkorange {
  color: #ff8c00;
  //color: rgb(255, 140, 0);
}

.darkorchid {
  color: #9932cc;
  //color: rgb(153, 50, 204);
}

.darkred {
  color: #8b0000;
  //color: rgb(139, 0, 0);
}

.darksalmon {
  color: #e9967a;
  //color: rgb(233, 150, 122);
}

.darkseagreen {
  color: #8fbc8f;
  //color: rgb(143, 188, 143);
}

.darkslateblue {
  color: #483d8b;
  //color: rgb(72, 61, 139);
}

.darkslategray,
.darkslategrey {
  color: #2f4f4f;
  //color: rgb(47, 79, 79);
}

.darkturquoise {
  color: #00ced1;
  //color: rgb(0, 206, 209);
}

.darkviolet {
  color: #9400d3;
  //color: rgb(148, 0, 211);
}

.deeppink {
  color: #ff1493;
  //color: rgb(255, 20, 147);
}

.deepskyblue {
  color: #00bfff;
  //color: rgb(0, 191, 255);
}

.dimgray,
.dimgrey {
  color: #696969;
  //color: rgb(105, 105, 105);
}

.dodgerblue {
  color: #1e90ff;
  //color: rgb(30, 144, 255);
}

.firebrick {
  color: #b22222;
  //color: rgb(178, 34, 34);
}

.floralwhite {
  color: #fffaf0;
  //color: rgb(255, 250, 240);
}

.forestgreen {
  color: #228b22;
  //color: rgb(34, 139, 34);
}

.fuchsia {
  color: #f0f;
  //color: rgb(255, 0, 255);
}

.gainsboro {
  color: #dcdcdc;
  //color: rgb(220, 220, 220);
}

.ghostwhite {
  color: #f8f8ff;
  //color: rgb(248, 248, 255);
}

.gold {
  color: #ffd700;
  //color: rgb(255, 215, 0);
}

.goldenrod {
  color: #daa520;
  //color: rgb(218, 165, 32);
}

.gray,
.grey {
  color: #808080;
  //color: rgb(128, 128, 128);
}

.green {
  color: #008000;
  //color: rgb(0, 128, 0);
}

.greenyellow {
  color: #adff2f;
  //color: rgb(173, 255, 47);
}

.honeydew {
  color: #f0fff0;
  //color: rgb(240, 255, 240);
}

.hotpink {
  color: #ff69b4;
  //color: rgb(255, 105, 180);
}

.indianred {
  color: #cd5c5c;
  //color: rgb(205, 92, 92);
}

.indigo {
  color: #4b0082;
  //color: rgb(75, 0, 130);
}

.ivory {
  color: #fffff0;
  //color: rgb(255, 255, 240);
}

.khaki {
  color: #f0e68c;
  //color: rgb(240, 230, 140);
}

.lavender {
  color: #e6e6fa;
  //color: rgb(230, 230, 250);
}

.lavenderblush {
  color: #fff0f5;
  //color: rgb(255, 240, 245);
}

.lawngreen {
  color: #7cfc00;
  //color: rgb(124, 252, 0);
}

.lemonchiffon {
  color: #fffacd;
  //color: rgb(255, 250, 205);
}

.lightblue {
  color: #add8e6;
  //color: rgb(173, 216, 230);
}

.lightcoral {
  color: #f08080;
  //color: rgb(240, 128, 128);
}

.lightcyan {
  color: #e0ffff;
  //color: rgb(224, 255, 255);
}

.lightgoldenrodyellow {
  color: #fafad2;
  //color: rgb(250, 250, 210);
}

.lightgray,
.lightgrey {
  color: #d3d3d3;
  //color: rgb(211, 211, 211);
}

.lightpink {
  color: #ffb6c1;
  //color: rgb(255, 182, 193);
}

.lightsalmon {
  color: #ffa07a;
  //color: rgb(255, 160, 122);
}

.lightseagreen {
  color: #20b2aa;
  //color: rgb(32, 178, 170);
}

.lightskyblue {
  color: #87cefa;
  //color: rgb(135, 206, 250);
}

.lightslategray,
.lightslategrey {
  color: #789;
  //color: rgb(119, 136, 153);
}

.lightsteelblue {
  color: #b0c4de;
  //color: rgb(176, 196, 222);
}

.lightyellow {
  color: #ffffe0;
  //color: rgb(255, 255, 224);
}

.lime {
  color: #0f0;
  //color: rgb(0, 255, 0);
}

.limegreen {
  color: #32cd32;
  //color: rgb(50, 205, 50);
}

.linen {
  color: #faf0e6;
  //color: rgb(250, 240, 230);
}

.magenta {
  color: #f0f;
  //color: rgb(255, 0, 255);
}

.maroon {
  color: #800000;
  //color: rgb(128, 0, 0);
}

.mediumaquamarine {
  color: #66cdaa;
  //color: rgb(102, 205, 170);
}

.mediumblue {
  color: #0000cd;
  //color: rgb(0, 0, 205);
}

.mediumorchid {
  color: #ba55d3;
  //color: rgb(186, 85, 211);
}

.mediumpurple {
  color: #9370db;
  //color: rgb(147, 112, 219);
}

.mediumseagreen {
  color: #3cb371;
  //color: rgb(60, 179, 113);
}

.mediumslateblue {
  color: #7b68ee;
  //color: rgb(123, 104, 238);
}

.mediumspringgreen {
  color: #00fa9a;
  //color: rgb(0, 250, 154);
}

.mediumturquoise {
  color: #48d1cc;
  //color: rgb(72, 209, 204);
}

.mediumvioletred {
  color: #c71585;
  //color: rgb(199, 21, 133);
}

.midnightblue {
  color: #191970;
  //color: rgb(25, 25, 112);
}

.mintcream {
  color: #f5fffa;
  //color: rgb(245, 255, 250);
}

.mistyrose {
  color: #ffe4e1;
  //color: rgb(255, 228, 225);
}

.moccasin {
  color: #ffe4b5;
  //color: rgb(255, 228, 181);
}

.navajowhite {
  color: #ffdead;
  //color: rgb(255, 222, 173);
}

.navy {
  color: #000080;
  //color: rgb(0, 0, 128);
}

.oldlace {
  color: #fdf5e6;
  //color: rgb(253, 245, 230);
}

.olive {
  color: #808000;
  //color: rgb(128, 128, 0);
}

.olivedrab {
  color: #6b8e23;
  //color: rgb(107, 142, 35);
}

.orange {
  color: #ffa500;
  //color: rgb(255, 165, 0);
}

.orangered {
  color: #ff4500;
  //color: rgb(255, 69, 0);
}

.orchid {
  color: #da70d6;
  //color: rgb(218, 112, 214);
}

.palegoldenrod {
  color: #eee8aa;
  //color: rgb(238, 232, 170);
}

.palegreen {
  color: #98fb98;
  //color: rgb(152, 251, 152);
}

.paleturquoise {
  color: #afeeee;
  //color: rgb(175, 238, 238);
}

.palevioletred {
  color: #db7093;
  //color: rgb(219, 112, 147);
}

.papayawhip {
  color: #ffefd5;
  //color: rgb(255, 239, 213);
}

.peachpuff {
  color: #ffdab9;
  //color: rgb(255, 218, 185);
}

.peru {
  color: #cd853f;
  //color: rgb(205, 133, 63);
}

.pink {
  color: #ffc0cb;
  //color: rgb(255, 192, 203);
}

.plum {
  color: #dda0dd;
  //color: rgb(221, 160, 221);
}

.powderblue {
  color: #b0e0e6;
  //color: rgb(176, 224, 230);
}

.purple {
  color: #800080;
  //color: rgb(128, 0, 128);
}

.red {
  color: #f00;
  //color: rgb(255, 0, 0);
}

.rosybrown {
  color: #bc8f8f;
  //color: rgb(188, 143, 143);
}

.royalblue {
  color: #4169e1;
  //color: rgb(65, 105, 225);
}

.saddlebrown {
  color: #8b4513;
  //color: rgb(139, 69, 19);
}

.salmon {
  color: #fa8072;
  //color: rgb(250, 128, 114);
}

.sandybrown {
  color: #f4a460;
  //color: rgb(244, 164, 96);
}

.seagreen {
  color: #2e8b57;
  //color: rgb(46, 139, 87);
}

.seashell {
  color: #fff5ee;
  //color: rgb(255, 245, 238);
}

.sienna {
  color: #a0522d;
  //color: rgb(160, 82, 45);
}

.silver {
  color: #c0c0c0;
  //color: rgb(192, 192, 192);
}

.skyblue {
  color: #87ceeb;
  //color: rgb(135, 206, 235);
}

.slateblue {
  color: #6a5acd;
  //color: rgb(106, 90, 205);
}

.slategray,
.slategrey {
  color: #708090;
  //color: rgb(112, 128, 144);
}

.snow {
  color: #fffafa;
  //color: rgb(255, 250, 250);
}

.springgreen {
  color: #00ff7f;
  //color: rgb(0, 255, 127);
}

.steelblue {
  color: #4682b4;
  //color: rgb(70, 130, 180);
}

.tan {
  color: #d2b48c;
  //color: rgb(210, 180, 140);
}

.teal {
  color: #008080;
  //color: rgb(0, 128, 128);
}

.thistle {
  color: #d8bfd8;
  //color: rgb(216, 191, 216);
}

.tomato {
  color: #ff6347;
  //color: rgb(255, 99, 71);
}

.turquoise {
  color: #40e0d0;
  //color: rgb(64, 224, 208);
}

.violet {
  color: #ee82ee;
  //color: rgb(238, 130, 238);
}

.wheat {
  color: #f5deb3;
  //color: rgb(245, 222, 179);
}

.white {
  color: #fff;
  //color: rgb(255, 255, 255);
}

.whitesmoke {
  color: #f5f5f5;
  //color: rgb(245, 245, 245);
}

.yellow {
  color: #ff0;
  //color: rgb(255, 255, 0);
}

.yellowgreen {
  color: #9acd32;
  //color: rgb(154, 205, 50);
}

//responsive-pc

@media (max-width: 1199px) {
  //Extra large devices (large desktops, 992px and 1200px)
  .aliceblue-lg {
    color: #f0f8ff;
    //color: rgb(240, 248, 255);
  }

  .antiquewhite-lg {
    color: #faebd7;
    //color: rgb(250, 235, 215);
  }

  .aqua-lg {
    color: #0ff;
    //color: rgb(0, 255, 255);
  }

  .aquamarine-lg {
    color: #7fffd4;
    //color: rgb(127, 255, 212);
  }

  .azure-lg {
    color: #f0ffff;
    //color: rgb(240, 255, 255);
  }

  .beige-lg {
    color: #f5f5dc;
    //color: rgb(245, 245, 220);
  }

  .bisque-lg {
    color: #ffe4c4;
    //color: rgb(255, 228, 196);
  }

  .black-lg {
    color: #000;
    //color: rgb(0, 0, 0);
  }

  .blanchedalmond-lg {
    color: #ffebcd;
    //color: rgb(255, 235, 205);
  }

  .blue-lg {
    color: #00f;
    //color: rgb(0, 0, 255);
  }

  .blueviolet-lg {
    color: #8a2be2;
    //color: rgb(138, 43, 226);
  }

  .brown-lg {
    color: #a52a2a;
    //color: rgb(165, 42, 42);
  }

  .burlywood-lg {
    color: #deb887;
    //color: rgb(222, 184, 135);
  }

  .cadetblue-lg {
    color: #5f9ea0;
    //color: rgb(95, 158, 160);
  }

  .chartreuse-lg {
    color: #7fff00;
    //color: rgb(127, 255, 0);
  }

  .chocolate-lg {
    color: #d2691e;
    //color: rgb(210, 105, 30);
  }

  .coral-lg {
    color: #ff7f50;
    //color: rgb(255, 127, 80);
  }

  .cornflowerblue-lg {
    color: #6495ed;
    //color: rgb(100, 149, 237);
  }

  .cornsilk-lg {
    color: #fff8dc;
    //color: rgb(255, 248, 220);
  }

  .crimson-lg {
    color: #dc143c;
    //color: rgb(220, 20, 60);
  }

  .cyan-lg {
    color: #0ff;
    //color: rgb(0, 255, 255);
  }

  .darkblue-lg {
    color: #00008b;
    //color: rgb(0, 0, 139);
  }

  .darkcyan-lg {
    color: #008b8b;
    //color: rgb(0, 139, 139);
  }

  .darkgoldenrod-lg {
    color: #b8860b;
    //color: rgb(184, 134, 11);
  }

  .darkgray,
  .darkgrey-lg {
    color: #a9a9a9;
    //color: rgb(169, 169, 169);
  }

  .darkgreen-lg {
    color: #006400;
    //color: rgb(0, 100, 0);
  }

  .darkkhaki-lg {
    color: #bdb76b;
    //color: rgb(189, 183, 107);
  }

  .darkmagenta-lg {
    color: #8b008b;
    //color: rgb(139, 0, 139);
  }

  .darkolivegreen-lg {
    color: #556b2f;
    //color: rgb(85, 107, 47);
  }

  .darkorange-lg {
    color: #ff8c00;
    //color: rgb(255, 140, 0);
  }

  .darkorchid-lg {
    color: #9932cc;
    //color: rgb(153, 50, 204);
  }

  .darkred-lg {
    color: #8b0000;
    //color: rgb(139, 0, 0);
  }

  .darksalmon-lg {
    color: #e9967a;
    //color: rgb(233, 150, 122);
  }

  .darkseagreen-lg {
    color: #8fbc8f;
    //color: rgb(143, 188, 143);
  }

  .darkslateblue-lg {
    color: #483d8b;
    //color: rgb(72, 61, 139);
  }

  .darkslategray,
  .darkslategrey-lg {
    color: #2f4f4f;
    //color: rgb(47, 79, 79);
  }

  .darkturquoise-lg {
    color: #00ced1;
    //color: rgb(0, 206, 209);
  }

  .darkviolet-lg {
    color: #9400d3;
    //color: rgb(148, 0, 211);
  }

  .deeppink-lg {
    color: #ff1493;
    //color: rgb(255, 20, 147);
  }

  .deepskyblue-lg {
    color: #00bfff;
    //color: rgb(0, 191, 255);
  }

  .dimgray,
  .dimgrey-lg {
    color: #696969;
    //color: rgb(105, 105, 105);
  }

  .dodgerblue-lg {
    color: #1e90ff;
    //color: rgb(30, 144, 255);
  }

  .firebrick-lg {
    color: #b22222;
    //color: rgb(178, 34, 34);
  }

  .floralwhite-lg {
    color: #fffaf0;
    //color: rgb(255, 250, 240);
  }

  .forestgreen-lg {
    color: #228b22;
    //color: rgb(34, 139, 34);
  }

  .fuchsia-lg {
    color: #f0f;
    //color: rgb(255, 0, 255);
  }

  .gainsboro-lg {
    color: #dcdcdc;
    //color: rgb(220, 220, 220);
  }

  .ghostwhite-lg {
    color: #f8f8ff;
    //color: rgb(248, 248, 255);
  }

  .gold-lg {
    color: #ffd700;
    //color: rgb(255, 215, 0);
  }

  .goldenrod-lg {
    color: #daa520;
    //color: rgb(218, 165, 32);
  }

  .gray,
  .grey-lg {
    color: #808080;
    //color: rgb(128, 128, 128);
  }

  .green-lg {
    color: #008000;
    //color: rgb(0, 128, 0);
  }

  .greenyellow-lg {
    color: #adff2f;
    //color: rgb(173, 255, 47);
  }

  .honeydew-lg {
    color: #f0fff0;
    //color: rgb(240, 255, 240);
  }

  .hotpink-lg {
    color: #ff69b4;
    //color: rgb(255, 105, 180);
  }

  .indianred-lg {
    color: #cd5c5c;
    //color: rgb(205, 92, 92);
  }

  .indigo-lg {
    color: #4b0082;
    //color: rgb(75, 0, 130);
  }

  .ivory-lg {
    color: #fffff0;
    //color: rgb(255, 255, 240);
  }

  .khaki-lg {
    color: #f0e68c;
    //color: rgb(240, 230, 140);
  }

  .lavender-lg {
    color: #e6e6fa;
    //color: rgb(230, 230, 250);
  }

  .lavenderblush-lg {
    color: #fff0f5;
    //color: rgb(255, 240, 245);
  }

  .lawngreen-lg {
    color: #7cfc00;
    //color: rgb(124, 252, 0);
  }

  .lemonchiffon-lg {
    color: #fffacd;
    //color: rgb(255, 250, 205);
  }

  .lightblue-lg {
    color: #add8e6;
    //color: rgb(173, 216, 230);
  }

  .lightcoral-lg {
    color: #f08080;
    //color: rgb(240, 128, 128);
  }

  .lightcyan-lg {
    color: #e0ffff;
    //color: rgb(224, 255, 255);
  }

  .lightgoldenrodyellow-lg {
    color: #fafad2;
    //color: rgb(250, 250, 210);
  }

  .lightgray,
  .lightgrey-lg {
    color: #d3d3d3;
    //color: rgb(211, 211, 211);
  }

  .lightpink-lg {
    color: #ffb6c1;
    //color: rgb(255, 182, 193);
  }

  .lightsalmon-lg {
    color: #ffa07a;
    //color: rgb(255, 160, 122);
  }

  .lightseagreen-lg {
    color: #20b2aa;
    //color: rgb(32, 178, 170);
  }

  .lightskyblue-lg {
    color: #87cefa;
    //color: rgb(135, 206, 250);
  }

  .lightslategray,
  .lightslategrey-lg {
    color: #789;
    //color: rgb(119, 136, 153);
  }

  .lightsteelblue-lg {
    color: #b0c4de;
    //color: rgb(176, 196, 222);
  }

  .lightyellow-lg {
    color: #ffffe0;
    //color: rgb(255, 255, 224);
  }

  .lime-lg {
    color: #0f0;
    //color: rgb(0, 255, 0);
  }

  .limegreen-lg {
    color: #32cd32;
    //color: rgb(50, 205, 50);
  }

  .linen-lg {
    color: #faf0e6;
    //color: rgb(250, 240, 230);
  }

  .magenta-lg {
    color: #f0f;
    //color: rgb(255, 0, 255);
  }

  .maroon-lg {
    color: #800000;
    //color: rgb(128, 0, 0);
  }

  .mediumaquamarine-lg {
    color: #66cdaa;
    //color: rgb(102, 205, 170);
  }

  .mediumblue-lg {
    color: #0000cd;
    //color: rgb(0, 0, 205);
  }

  .mediumorchid-lg {
    color: #ba55d3;
    //color: rgb(186, 85, 211);
  }

  .mediumpurple-lg {
    color: #9370db;
    //color: rgb(147, 112, 219);
  }

  .mediumseagreen-lg {
    color: #3cb371;
    //color: rgb(60, 179, 113);
  }

  .mediumslateblue-lg {
    color: #7b68ee;
    //color: rgb(123, 104, 238);
  }

  .mediumspringgreen-lg {
    color: #00fa9a;
    //color: rgb(0, 250, 154);
  }

  .mediumturquoise-lg {
    color: #48d1cc;
    //color: rgb(72, 209, 204);
  }

  .mediumvioletred-lg {
    color: #c71585;
    //color: rgb(199, 21, 133);
  }

  .midnightblue-lg {
    color: #191970;
    //color: rgb(25, 25, 112);
  }

  .mintcream-lg {
    color: #f5fffa;
    //color: rgb(245, 255, 250);
  }

  .mistyrose-lg {
    color: #ffe4e1;
    //color: rgb(255, 228, 225);
  }

  .moccasin-lg {
    color: #ffe4b5;
    //color: rgb(255, 228, 181);
  }

  .navajowhite-lg {
    color: #ffdead;
    //color: rgb(255, 222, 173);
  }

  .navy-lg {
    color: #000080;
    //color: rgb(0, 0, 128);
  }

  .oldlace-lg {
    color: #fdf5e6;
    //color: rgb(253, 245, 230);
  }

  .olive-lg {
    color: #808000;
    //color: rgb(128, 128, 0);
  }

  .olivedrab-lg {
    color: #6b8e23;
    //color: rgb(107, 142, 35);
  }

  .orange-lg {
    color: #ffa500;
    //color: rgb(255, 165, 0);
  }

  .orangered-lg {
    color: #ff4500;
    //color: rgb(255, 69, 0);
  }

  .orchid-lg {
    color: #da70d6;
    //color: rgb(218, 112, 214);
  }

  .palegoldenrod-lg {
    color: #eee8aa;
    //color: rgb(238, 232, 170);
  }

  .palegreen-lg {
    color: #98fb98;
    //color: rgb(152, 251, 152);
  }

  .paleturquoise-lg {
    color: #afeeee;
    //color: rgb(175, 238, 238);
  }

  .palevioletred-lg {
    color: #db7093;
    //color: rgb(219, 112, 147);
  }

  .papayawhip-lg {
    color: #ffefd5;
    //color: rgb(255, 239, 213);
  }

  .peachpuff-lg {
    color: #ffdab9;
    //color: rgb(255, 218, 185);
  }

  .peru-lg {
    color: #cd853f;
    //color: rgb(205, 133, 63);
  }

  .pink-lg {
    color: #ffc0cb;
    //color: rgb(255, 192, 203);
  }

  .plum-lg {
    color: #dda0dd;
    //color: rgb(221, 160, 221);
  }

  .powderblue-lg {
    color: #b0e0e6;
    //color: rgb(176, 224, 230);
  }

  .purple-lg {
    color: #800080;
    //color: rgb(128, 0, 128);
  }

  .red-lg {
    color: #f00;
    //color: rgb(255, 0, 0);
  }

  .rosybrown-lg {
    color: #bc8f8f;
    //color: rgb(188, 143, 143);
  }

  .royalblue-lg {
    color: #4169e1;
    //color: rgb(65, 105, 225);
  }

  .saddlebrown-lg {
    color: #8b4513;
    //color: rgb(139, 69, 19);
  }

  .salmon-lg {
    color: #fa8072;
    //color: rgb(250, 128, 114);
  }

  .sandybrown-lg {
    color: #f4a460;
    //color: rgb(244, 164, 96);
  }

  .seagreen-lg {
    color: #2e8b57;
    //color: rgb(46, 139, 87);
  }

  .seashell-lg {
    color: #fff5ee;
    //color: rgb(255, 245, 238);
  }

  .sienna-lg {
    color: #a0522d;
    //color: rgb(160, 82, 45);
  }

  .silver-lg {
    color: #c0c0c0;
    //color: rgb(192, 192, 192);
  }

  .skyblue-lg {
    color: #87ceeb;
    //color: rgb(135, 206, 235);
  }

  .slateblue-lg {
    color: #6a5acd;
    //color: rgb(106, 90, 205);
  }

  .slategray,
  .slategrey-lg {
    color: #708090;
    //color: rgb(112, 128, 144);
  }

  .snow-lg {
    color: #fffafa;
    //color: rgb(255, 250, 250);
  }

  .springgreen-lg {
    color: #00ff7f;
    //color: rgb(0, 255, 127);
  }

  .steelblue-lg {
    color: #4682b4;
    //color: rgb(70, 130, 180);
  }

  .tan-lg {
    color: #d2b48c;
    //color: rgb(210, 180, 140);
  }

  .teal-lg {
    color: #008080;
    //color: rgb(0, 128, 128);
  }

  .thistle-lg {
    color: #d8bfd8;
    //color: rgb(216, 191, 216);
  }

  .tomato-lg {
    color: #ff6347;
    //color: rgb(255, 99, 71);
  }

  .turquoise-lg {
    color: #40e0d0;
    //color: rgb(64, 224, 208);
  }

  .violet-lg {
    color: #ee82ee;
    //color: rgb(238, 130, 238);
  }

  .wheat-lg {
    color: #f5deb3;
    //color: rgb(245, 222, 179);
  }

  .white-lg {
    color: #fff;
    //color: rgb(255, 255, 255);
  }

  .whitesmoke-lg {
    color: #f5f5f5;
    //color: rgb(245, 245, 245);
  }

  .yellow-lg {
    color: #ff0;
    //color: rgb(255, 255, 0);
  }

  .yellowgreen-lg {
    color: #9acd32;
    //color: rgb(154, 205, 50);
  }
}

@media (max-width: 991px) {
  //Large devices (desktops, 768px and 992px)
  .aliceblue-md {
    color: #f0f8ff;
    //color: rgb(240, 248, 255);
  }

  .antiquewhite-md {
    color: #faebd7;
    //color: rgb(250, 235, 215);
  }

  .aqua-md {
    color: #0ff;
    //color: rgb(0, 255, 255);
  }

  .aquamarine-md {
    color: #7fffd4;
    //color: rgb(127, 255, 212);
  }

  .azure-md {
    color: #f0ffff;
    //color: rgb(240, 255, 255);
  }

  .beige-md {
    color: #f5f5dc;
    //color: rgb(245, 245, 220);
  }

  .bisque-md {
    color: #ffe4c4;
    //color: rgb(255, 228, 196);
  }

  .black-md {
    color: #000;
    //color: rgb(0, 0, 0);
  }

  .blanchedalmond-md {
    color: #ffebcd;
    //color: rgb(255, 235, 205);
  }

  .blue-md {
    color: #00f;
    //color: rgb(0, 0, 255);
  }

  .blueviolet-md {
    color: #8a2be2;
    //color: rgb(138, 43, 226);
  }

  .brown-md {
    color: #a52a2a;
    //color: rgb(165, 42, 42);
  }

  .burlywood-md {
    color: #deb887;
    //color: rgb(222, 184, 135);
  }

  .cadetblue-md {
    color: #5f9ea0;
    //color: rgb(95, 158, 160);
  }

  .chartreuse-md {
    color: #7fff00;
    //color: rgb(127, 255, 0);
  }

  .chocolate-md {
    color: #d2691e;
    //color: rgb(210, 105, 30);
  }

  .coral-md {
    color: #ff7f50;
    //color: rgb(255, 127, 80);
  }

  .cornflowerblue-md {
    color: #6495ed;
    //color: rgb(100, 149, 237);
  }

  .cornsilk-md {
    color: #fff8dc;
    //color: rgb(255, 248, 220);
  }

  .crimson-md {
    color: #dc143c;
    //color: rgb(220, 20, 60);
  }

  .cyan-md {
    color: #0ff;
    //color: rgb(0, 255, 255);
  }

  .darkblue-md {
    color: #00008b;
    //color: rgb(0, 0, 139);
  }

  .darkcyan-md {
    color: #008b8b;
    //color: rgb(0, 139, 139);
  }

  .darkgoldenrod-md {
    color: #b8860b;
    //color: rgb(184, 134, 11);
  }

  .darkgray,
  .darkgrey-md {
    color: #a9a9a9;
    //color: rgb(169, 169, 169);
  }

  .darkgreen-md {
    color: #006400;
    //color: rgb(0, 100, 0);
  }

  .darkkhaki-md {
    color: #bdb76b;
    //color: rgb(189, 183, 107);
  }

  .darkmagenta-md {
    color: #8b008b;
    //color: rgb(139, 0, 139);
  }

  .darkolivegreen-md {
    color: #556b2f;
    //color: rgb(85, 107, 47);
  }

  .darkorange-md {
    color: #ff8c00;
    //color: rgb(255, 140, 0);
  }

  .darkorchid-md {
    color: #9932cc;
    //color: rgb(153, 50, 204);
  }

  .darkred-md {
    color: #8b0000;
    //color: rgb(139, 0, 0);
  }

  .darksalmon-md {
    color: #e9967a;
    //color: rgb(233, 150, 122);
  }

  .darkseagreen-md {
    color: #8fbc8f;
    //color: rgb(143, 188, 143);
  }

  .darkslateblue-md {
    color: #483d8b;
    //color: rgb(72, 61, 139);
  }

  .darkslategray,
  .darkslategrey-md {
    color: #2f4f4f;
    //color: rgb(47, 79, 79);
  }

  .darkturquoise-md {
    color: #00ced1;
    //color: rgb(0, 206, 209);
  }

  .darkviolet-md {
    color: #9400d3;
    //color: rgb(148, 0, 211);
  }

  .deeppink-md {
    color: #ff1493;
    //color: rgb(255, 20, 147);
  }

  .deepskyblue-md {
    color: #00bfff;
    //color: rgb(0, 191, 255);
  }

  .dimgray,
  .dimgrey-md {
    color: #696969;
    //color: rgb(105, 105, 105);
  }

  .dodgerblue-md {
    color: #1e90ff;
    //color: rgb(30, 144, 255);
  }

  .firebrick-md {
    color: #b22222;
    //color: rgb(178, 34, 34);
  }

  .floralwhite-md {
    color: #fffaf0;
    //color: rgb(255, 250, 240);
  }

  .forestgreen-md {
    color: #228b22;
    //color: rgb(34, 139, 34);
  }

  .fuchsia-md {
    color: #f0f;
    //color: rgb(255, 0, 255);
  }

  .gainsboro-md {
    color: #dcdcdc;
    //color: rgb(220, 220, 220);
  }

  .ghostwhite-md {
    color: #f8f8ff;
    //color: rgb(248, 248, 255);
  }

  .gold-md {
    color: #ffd700;
    //color: rgb(255, 215, 0);
  }

  .goldenrod-md {
    color: #daa520;
    //color: rgb(218, 165, 32);
  }

  .gray,
  .grey-md {
    color: #808080;
    //color: rgb(128, 128, 128);
  }

  .green-md {
    color: #008000;
    //color: rgb(0, 128, 0);
  }

  .greenyellow-md {
    color: #adff2f;
    //color: rgb(173, 255, 47);
  }

  .honeydew-md {
    color: #f0fff0;
    //color: rgb(240, 255, 240);
  }

  .hotpink-md {
    color: #ff69b4;
    //color: rgb(255, 105, 180);
  }

  .indianred-md {
    color: #cd5c5c;
    //color: rgb(205, 92, 92);
  }

  .indigo-md {
    color: #4b0082;
    //color: rgb(75, 0, 130);
  }

  .ivory-md {
    color: #fffff0;
    //color: rgb(255, 255, 240);
  }

  .khaki-md {
    color: #f0e68c;
    //color: rgb(240, 230, 140);
  }

  .lavender-md {
    color: #e6e6fa;
    //color: rgb(230, 230, 250);
  }

  .lavenderblush-md {
    color: #fff0f5;
    //color: rgb(255, 240, 245);
  }

  .lawngreen-md {
    color: #7cfc00;
    //color: rgb(124, 252, 0);
  }

  .lemonchiffon-md {
    color: #fffacd;
    //color: rgb(255, 250, 205);
  }

  .lightblue-md {
    color: #add8e6;
    //color: rgb(173, 216, 230);
  }

  .lightcoral-md {
    color: #f08080;
    //color: rgb(240, 128, 128);
  }

  .lightcyan-md {
    color: #e0ffff;
    //color: rgb(224, 255, 255);
  }

  .lightgoldenrodyellow-md {
    color: #fafad2;
    //color: rgb(250, 250, 210);
  }

  .lightgray,
  .lightgrey-md {
    color: #d3d3d3;
    //color: rgb(211, 211, 211);
  }

  .lightpink-md {
    color: #ffb6c1;
    //color: rgb(255, 182, 193);
  }

  .lightsalmon-md {
    color: #ffa07a;
    //color: rgb(255, 160, 122);
  }

  .lightseagreen-md {
    color: #20b2aa;
    //color: rgb(32, 178, 170);
  }

  .lightskyblue-md {
    color: #87cefa;
    //color: rgb(135, 206, 250);
  }

  .lightslategray,
  .lightslategrey-md {
    color: #789;
    //color: rgb(119, 136, 153);
  }

  .lightsteelblue-md {
    color: #b0c4de;
    //color: rgb(176, 196, 222);
  }

  .lightyellow-md {
    color: #ffffe0;
    //color: rgb(255, 255, 224);
  }

  .lime-md {
    color: #0f0;
    //color: rgb(0, 255, 0);
  }

  .limegreen-md {
    color: #32cd32;
    //color: rgb(50, 205, 50);
  }

  .linen-md {
    color: #faf0e6;
    //color: rgb(250, 240, 230);
  }

  .magenta-md {
    color: #f0f;
    //color: rgb(255, 0, 255);
  }

  .maroon-md {
    color: #800000;
    //color: rgb(128, 0, 0);
  }

  .mediumaquamarine-md {
    color: #66cdaa;
    //color: rgb(102, 205, 170);
  }

  .mediumblue-md {
    color: #0000cd;
    //color: rgb(0, 0, 205);
  }

  .mediumorchid-md {
    color: #ba55d3;
    //color: rgb(186, 85, 211);
  }

  .mediumpurple-md {
    color: #9370db;
    //color: rgb(147, 112, 219);
  }

  .mediumseagreen-md {
    color: #3cb371;
    //color: rgb(60, 179, 113);
  }

  .mediumslateblue-md {
    color: #7b68ee;
    //color: rgb(123, 104, 238);
  }

  .mediumspringgreen-md {
    color: #00fa9a;
    //color: rgb(0, 250, 154);
  }

  .mediumturquoise-md {
    color: #48d1cc;
    //color: rgb(72, 209, 204);
  }

  .mediumvioletred-md {
    color: #c71585;
    //color: rgb(199, 21, 133);
  }

  .midnightblue-md {
    color: #191970;
    //color: rgb(25, 25, 112);
  }

  .mintcream-md {
    color: #f5fffa;
    //color: rgb(245, 255, 250);
  }

  .mistyrose-md {
    color: #ffe4e1;
    //color: rgb(255, 228, 225);
  }

  .moccasin-md {
    color: #ffe4b5;
    //color: rgb(255, 228, 181);
  }

  .navajowhite-md {
    color: #ffdead;
    //color: rgb(255, 222, 173);
  }

  .navy-md {
    color: #000080;
    //color: rgb(0, 0, 128);
  }

  .oldlace-md {
    color: #fdf5e6;
    //color: rgb(253, 245, 230);
  }

  .olive-md {
    color: #808000;
    //color: rgb(128, 128, 0);
  }

  .olivedrab-md {
    color: #6b8e23;
    //color: rgb(107, 142, 35);
  }

  .orange-md {
    color: #ffa500;
    //color: rgb(255, 165, 0);
  }

  .orangered-md {
    color: #ff4500;
    //color: rgb(255, 69, 0);
  }

  .orchid-md {
    color: #da70d6;
    //color: rgb(218, 112, 214);
  }

  .palegoldenrod-md {
    color: #eee8aa;
    //color: rgb(238, 232, 170);
  }

  .palegreen-md {
    color: #98fb98;
    //color: rgb(152, 251, 152);
  }

  .paleturquoise-md {
    color: #afeeee;
    //color: rgb(175, 238, 238);
  }

  .palevioletred-md {
    color: #db7093;
    //color: rgb(219, 112, 147);
  }

  .papayawhip-md {
    color: #ffefd5;
    //color: rgb(255, 239, 213);
  }

  .peachpuff-md {
    color: #ffdab9;
    //color: rgb(255, 218, 185);
  }

  .peru-md {
    color: #cd853f;
    //color: rgb(205, 133, 63);
  }

  .pink-md {
    color: #ffc0cb;
    //color: rgb(255, 192, 203);
  }

  .plum-md {
    color: #dda0dd;
    //color: rgb(221, 160, 221);
  }

  .powderblue-md {
    color: #b0e0e6;
    //color: rgb(176, 224, 230);
  }

  .purple-md {
    color: #800080;
    //color: rgb(128, 0, 128);
  }

  .red-md {
    color: #f00;
    //color: rgb(255, 0, 0);
  }

  .rosybrown-md {
    color: #bc8f8f;
    //color: rgb(188, 143, 143);
  }

  .royalblue-md {
    color: #4169e1;
    //color: rgb(65, 105, 225);
  }

  .saddlebrown-md {
    color: #8b4513;
    //color: rgb(139, 69, 19);
  }

  .salmon-md {
    color: #fa8072;
    //color: rgb(250, 128, 114);
  }

  .sandybrown-md {
    color: #f4a460;
    //color: rgb(244, 164, 96);
  }

  .seagreen-md {
    color: #2e8b57;
    //color: rgb(46, 139, 87);
  }

  .seashell-md {
    color: #fff5ee;
    //color: rgb(255, 245, 238);
  }

  .sienna-md {
    color: #a0522d;
    //color: rgb(160, 82, 45);
  }

  .silver-md {
    color: #c0c0c0;
    //color: rgb(192, 192, 192);
  }

  .skyblue-md {
    color: #87ceeb;
    //color: rgb(135, 206, 235);
  }

  .slateblue-md {
    color: #6a5acd;
    //color: rgb(106, 90, 205);
  }

  .slategray,
  .slategrey-md {
    color: #708090;
    //color: rgb(112, 128, 144);
  }

  .snow-md {
    color: #fffafa;
    //color: rgb(255, 250, 250);
  }

  .springgreen-md {
    color: #00ff7f;
    //color: rgb(0, 255, 127);
  }

  .steelblue-md {
    color: #4682b4;
    //color: rgb(70, 130, 180);
  }

  .tan-md {
    color: #d2b48c;
    //color: rgb(210, 180, 140);
  }

  .teal-md {
    color: #008080;
    //color: rgb(0, 128, 128);
  }

  .thistle-md {
    color: #d8bfd8;
    //color: rgb(216, 191, 216);
  }

  .tomato-md {
    color: #ff6347;
    //color: rgb(255, 99, 71);
  }

  .turquoise-md {
    color: #40e0d0;
    //color: rgb(64, 224, 208);
  }

  .violet-md {
    color: #ee82ee;
    //color: rgb(238, 130, 238);
  }

  .wheat-md {
    color: #f5deb3;
    //color: rgb(245, 222, 179);
  }

  .white-md {
    color: #fff;
    //color: rgb(255, 255, 255);
  }

  .whitesmoke-md {
    color: #f5f5f5;
    //color: rgb(245, 245, 245);
  }

  .yellow-md {
    color: #ff0;
    //color: rgb(255, 255, 0);
  }

  .yellowgreen-md {
    color: #9acd32;
    //color: rgb(154, 205, 50);
  }
}

@media (max-width: 767px) {
  //Medium devices (tablets, 576px and 768px)
  .aliceblue-sm {
    color: #f0f8ff;
    //color: rgb(240, 248, 255);
  }

  .antiquewhite-sm {
    color: #faebd7;
    //color: rgb(250, 235, 215);
  }

  .aqua-sm {
    color: #0ff;
    //color: rgb(0, 255, 255);
  }

  .aquamarine-sm {
    color: #7fffd4;
    //color: rgb(127, 255, 212);
  }

  .azure-sm {
    color: #f0ffff;
    //color: rgb(240, 255, 255);
  }

  .beige-sm {
    color: #f5f5dc;
    //color: rgb(245, 245, 220);
  }

  .bisque-sm {
    color: #ffe4c4;
    //color: rgb(255, 228, 196);
  }

  .black-sm {
    color: #000;
    //color: rgb(0, 0, 0);
  }

  .blanchedalmond-sm {
    color: #ffebcd;
    //color: rgb(255, 235, 205);
  }

  .blue-sm {
    color: #00f;
    //color: rgb(0, 0, 255);
  }

  .blueviolet-sm {
    color: #8a2be2;
    //color: rgb(138, 43, 226);
  }

  .brown-sm {
    color: #a52a2a;
    //color: rgb(165, 42, 42);
  }

  .burlywood-sm {
    color: #deb887;
    //color: rgb(222, 184, 135);
  }

  .cadetblue-sm {
    color: #5f9ea0;
    //color: rgb(95, 158, 160);
  }

  .chartreuse-sm {
    color: #7fff00;
    //color: rgb(127, 255, 0);
  }

  .chocolate-sm {
    color: #d2691e;
    //color: rgb(210, 105, 30);
  }

  .coral-sm {
    color: #ff7f50;
    //color: rgb(255, 127, 80);
  }

  .cornflowerblue-sm {
    color: #6495ed;
    //color: rgb(100, 149, 237);
  }

  .cornsilk-sm {
    color: #fff8dc;
    //color: rgb(255, 248, 220);
  }

  .crimson-sm {
    color: #dc143c;
    //color: rgb(220, 20, 60);
  }

  .cyan-sm {
    color: #0ff;
    //color: rgb(0, 255, 255);
  }

  .darkblue-sm {
    color: #00008b;
    //color: rgb(0, 0, 139);
  }

  .darkcyan-sm {
    color: #008b8b;
    //color: rgb(0, 139, 139);
  }

  .darkgoldenrod-sm {
    color: #b8860b;
    //color: rgb(184, 134, 11);
  }

  .darkgray,
  .darkgrey-sm {
    color: #a9a9a9;
    //color: rgb(169, 169, 169);
  }

  .darkgreen-sm {
    color: #006400;
    //color: rgb(0, 100, 0);
  }

  .darkkhaki-sm {
    color: #bdb76b;
    //color: rgb(189, 183, 107);
  }

  .darkmagenta-sm {
    color: #8b008b;
    //color: rgb(139, 0, 139);
  }

  .darkolivegreen-sm {
    color: #556b2f;
    //color: rgb(85, 107, 47);
  }

  .darkorange-sm {
    color: #ff8c00;
    //color: rgb(255, 140, 0);
  }

  .darkorchid-sm {
    color: #9932cc;
    //color: rgb(153, 50, 204);
  }

  .darkred-sm {
    color: #8b0000;
    //color: rgb(139, 0, 0);
  }

  .darksalmon-sm {
    color: #e9967a;
    //color: rgb(233, 150, 122);
  }

  .darkseagreen-sm {
    color: #8fbc8f;
    //color: rgb(143, 188, 143);
  }

  .darkslateblue-sm {
    color: #483d8b;
    //color: rgb(72, 61, 139);
  }

  .darkslategray,
  .darkslategrey-sm {
    color: #2f4f4f;
    //color: rgb(47, 79, 79);
  }

  .darkturquoise-sm {
    color: #00ced1;
    //color: rgb(0, 206, 209);
  }

  .darkviolet-sm {
    color: #9400d3;
    //color: rgb(148, 0, 211);
  }

  .deeppink-sm {
    color: #ff1493;
    //color: rgb(255, 20, 147);
  }

  .deepskyblue-sm {
    color: #00bfff;
    //color: rgb(0, 191, 255);
  }

  .dimgray,
  .dimgrey-sm {
    color: #696969;
    //color: rgb(105, 105, 105);
  }

  .dodgerblue-sm {
    color: #1e90ff;
    //color: rgb(30, 144, 255);
  }

  .firebrick-sm {
    color: #b22222;
    //color: rgb(178, 34, 34);
  }

  .floralwhite-sm {
    color: #fffaf0;
    //color: rgb(255, 250, 240);
  }

  .forestgreen-sm {
    color: #228b22;
    //color: rgb(34, 139, 34);
  }

  .fuchsia-sm {
    color: #f0f;
    //color: rgb(255, 0, 255);
  }

  .gainsboro-sm {
    color: #dcdcdc;
    //color: rgb(220, 220, 220);
  }

  .ghostwhite-sm {
    color: #f8f8ff;
    //color: rgb(248, 248, 255);
  }

  .gold-sm {
    color: #ffd700;
    //color: rgb(255, 215, 0);
  }

  .goldenrod-sm {
    color: #daa520;
    //color: rgb(218, 165, 32);
  }

  .gray,
  .grey-sm {
    color: #808080;
    //color: rgb(128, 128, 128);
  }

  .green-sm {
    color: #008000;
    //color: rgb(0, 128, 0);
  }

  .greenyellow-sm {
    color: #adff2f;
    //color: rgb(173, 255, 47);
  }

  .honeydew-sm {
    color: #f0fff0;
    //color: rgb(240, 255, 240);
  }

  .hotpink-sm {
    color: #ff69b4;
    //color: rgb(255, 105, 180);
  }

  .indianred-sm {
    color: #cd5c5c;
    //color: rgb(205, 92, 92);
  }

  .indigo-sm {
    color: #4b0082;
    //color: rgb(75, 0, 130);
  }

  .ivory-sm {
    color: #fffff0;
    //color: rgb(255, 255, 240);
  }

  .khaki-sm {
    color: #f0e68c;
    //color: rgb(240, 230, 140);
  }

  .lavender-sm {
    color: #e6e6fa;
    //color: rgb(230, 230, 250);
  }

  .lavenderblush-sm {
    color: #fff0f5;
    //color: rgb(255, 240, 245);
  }

  .lawngreen-sm {
    color: #7cfc00;
    //color: rgb(124, 252, 0);
  }

  .lemonchiffon-sm {
    color: #fffacd;
    //color: rgb(255, 250, 205);
  }

  .lightblue-sm {
    color: #add8e6;
    //color: rgb(173, 216, 230);
  }

  .lightcoral-sm {
    color: #f08080;
    //color: rgb(240, 128, 128);
  }

  .lightcyan-sm {
    color: #e0ffff;
    //color: rgb(224, 255, 255);
  }

  .lightgoldenrodyellow-sm {
    color: #fafad2;
    //color: rgb(250, 250, 210);
  }

  .lightgray,
  .lightgrey-sm {
    color: #d3d3d3;
    //color: rgb(211, 211, 211);
  }

  .lightpink-sm {
    color: #ffb6c1;
    //color: rgb(255, 182, 193);
  }

  .lightsalmon-sm {
    color: #ffa07a;
    //color: rgb(255, 160, 122);
  }

  .lightseagreen-sm {
    color: #20b2aa;
    //color: rgb(32, 178, 170);
  }

  .lightskyblue-sm {
    color: #87cefa;
    //color: rgb(135, 206, 250);
  }

  .lightslategray,
  .lightslategrey-sm {
    color: #789;
    //color: rgb(119, 136, 153);
  }

  .lightsteelblue-sm {
    color: #b0c4de;
    //color: rgb(176, 196, 222);
  }

  .lightyellow-sm {
    color: #ffffe0;
    //color: rgb(255, 255, 224);
  }

  .lime-sm {
    color: #0f0;
    //color: rgb(0, 255, 0);
  }

  .limegreen-sm {
    color: #32cd32;
    //color: rgb(50, 205, 50);
  }

  .linen-sm {
    color: #faf0e6;
    //color: rgb(250, 240, 230);
  }

  .magenta-sm {
    color: #f0f;
    //color: rgb(255, 0, 255);
  }

  .maroon-sm {
    color: #800000;
    //color: rgb(128, 0, 0);
  }

  .mediumaquamarine-sm {
    color: #66cdaa;
    //color: rgb(102, 205, 170);
  }

  .mediumblue-sm {
    color: #0000cd;
    //color: rgb(0, 0, 205);
  }

  .mediumorchid-sm {
    color: #ba55d3;
    //color: rgb(186, 85, 211);
  }

  .mediumpurple-sm {
    color: #9370db;
    //color: rgb(147, 112, 219);
  }

  .mediumseagreen-sm {
    color: #3cb371;
    //color: rgb(60, 179, 113);
  }

  .mediumslateblue-sm {
    color: #7b68ee;
    //color: rgb(123, 104, 238);
  }

  .mediumspringgreen-sm {
    color: #00fa9a;
    //color: rgb(0, 250, 154);
  }

  .mediumturquoise-sm {
    color: #48d1cc;
    //color: rgb(72, 209, 204);
  }

  .mediumvioletred-sm {
    color: #c71585;
    //color: rgb(199, 21, 133);
  }

  .midnightblue-sm {
    color: #191970;
    //color: rgb(25, 25, 112);
  }

  .mintcream-sm {
    color: #f5fffa;
    //color: rgb(245, 255, 250);
  }

  .mistyrose-sm {
    color: #ffe4e1;
    //color: rgb(255, 228, 225);
  }

  .moccasin-sm {
    color: #ffe4b5;
    //color: rgb(255, 228, 181);
  }

  .navajowhite-sm {
    color: #ffdead;
    //color: rgb(255, 222, 173);
  }

  .navy-sm {
    color: #000080;
    //color: rgb(0, 0, 128);
  }

  .oldlace-sm {
    color: #fdf5e6;
    //color: rgb(253, 245, 230);
  }

  .olive-sm {
    color: #808000;
    //color: rgb(128, 128, 0);
  }

  .olivedrab-sm {
    color: #6b8e23;
    //color: rgb(107, 142, 35);
  }

  .orange-sm {
    color: #ffa500;
    //color: rgb(255, 165, 0);
  }

  .orangered-sm {
    color: #ff4500;
    //color: rgb(255, 69, 0);
  }

  .orchid-sm {
    color: #da70d6;
    //color: rgb(218, 112, 214);
  }

  .palegoldenrod-sm {
    color: #eee8aa;
    //color: rgb(238, 232, 170);
  }

  .palegreen-sm {
    color: #98fb98;
    //color: rgb(152, 251, 152);
  }

  .paleturquoise-sm {
    color: #afeeee;
    //color: rgb(175, 238, 238);
  }

  .palevioletred-sm {
    color: #db7093;
    //color: rgb(219, 112, 147);
  }

  .papayawhip-sm {
    color: #ffefd5;
    //color: rgb(255, 239, 213);
  }

  .peachpuff-sm {
    color: #ffdab9;
    //color: rgb(255, 218, 185);
  }

  .peru-sm {
    color: #cd853f;
    //color: rgb(205, 133, 63);
  }

  .pink-sm {
    color: #ffc0cb;
    //color: rgb(255, 192, 203);
  }

  .plum-sm {
    color: #dda0dd;
    //color: rgb(221, 160, 221);
  }

  .powderblue-sm {
    color: #b0e0e6;
    //color: rgb(176, 224, 230);
  }

  .purple-sm {
    color: #800080;
    //color: rgb(128, 0, 128);
  }

  .red-sm {
    color: #f00;
    //color: rgb(255, 0, 0);
  }

  .rosybrown-sm {
    color: #bc8f8f;
    //color: rgb(188, 143, 143);
  }

  .royalblue-sm {
    color: #4169e1;
    //color: rgb(65, 105, 225);
  }

  .saddlebrown-sm {
    color: #8b4513;
    //color: rgb(139, 69, 19);
  }

  .salmon-sm {
    color: #fa8072;
    //color: rgb(250, 128, 114);
  }

  .sandybrown-sm {
    color: #f4a460;
    //color: rgb(244, 164, 96);
  }

  .seagreen-sm {
    color: #2e8b57;
    //color: rgb(46, 139, 87);
  }

  .seashell-sm {
    color: #fff5ee;
    //color: rgb(255, 245, 238);
  }

  .sienna-sm {
    color: #a0522d;
    //color: rgb(160, 82, 45);
  }

  .silver-sm {
    color: #c0c0c0;
    //color: rgb(192, 192, 192);
  }

  .skyblue-sm {
    color: #87ceeb;
    //color: rgb(135, 206, 235);
  }

  .slateblue-sm {
    color: #6a5acd;
    //color: rgb(106, 90, 205);
  }

  .slategray,
  .slategrey-sm {
    color: #708090;
    //color: rgb(112, 128, 144);
  }

  .snow-sm {
    color: #fffafa;
    //color: rgb(255, 250, 250);
  }

  .springgreen-sm {
    color: #00ff7f;
    //color: rgb(0, 255, 127);
  }

  .steelblue-sm {
    color: #4682b4;
    //color: rgb(70, 130, 180);
  }

  .tan-sm {
    color: #d2b48c;
    //color: rgb(210, 180, 140);
  }

  .teal-sm {
    color: #008080;
    //color: rgb(0, 128, 128);
  }

  .thistle-sm {
    color: #d8bfd8;
    //color: rgb(216, 191, 216);
  }

  .tomato-sm {
    color: #ff6347;
    //color: rgb(255, 99, 71);
  }

  .turquoise-sm {
    color: #40e0d0;
    //color: rgb(64, 224, 208);
  }

  .violet-sm {
    color: #ee82ee;
    //color: rgb(238, 130, 238);
  }

  .wheat-sm {
    color: #f5deb3;
    //color: rgb(245, 222, 179);
  }

  .white-sm {
    color: #fff;
    //color: rgb(255, 255, 255);
  }

  .whitesmoke-sm {
    color: #f5f5f5;
    //color: rgb(245, 245, 245);
  }

  .yellow-sm {
    color: #ff0;
    //color: rgb(255, 255, 0);
  }

  .yellowgreen-sm {
    color: #9acd32;
    //color: rgb(154, 205, 50);
  }
}

@media (max-width: 575px) {
  //Small devices (landscape phones, max-width 576px)
  .aliceblue-xs {
    color: #f0f8ff;
    //color: rgb(240, 248, 255);
  }

  .antiquewhite-xs {
    color: #faebd7;
    //color: rgb(250, 235, 215);
  }

  .aqua-xs {
    color: #0ff;
    //color: rgb(0, 255, 255);
  }

  .aquamarine-xs {
    color: #7fffd4;
    //color: rgb(127, 255, 212);
  }

  .azure-xs {
    color: #f0ffff;
    //color: rgb(240, 255, 255);
  }

  .beige-xs {
    color: #f5f5dc;
    //color: rgb(245, 245, 220);
  }

  .bisque-xs {
    color: #ffe4c4;
    //color: rgb(255, 228, 196);
  }

  .black-xs {
    color: #000;
    //color: rgb(0, 0, 0);
  }

  .blanchedalmond-xs {
    color: #ffebcd;
    //color: rgb(255, 235, 205);
  }

  .blue-xs {
    color: #00f;
    //color: rgb(0, 0, 255);
  }

  .blueviolet-xs {
    color: #8a2be2;
    //color: rgb(138, 43, 226);
  }

  .brown-xs {
    color: #a52a2a;
    //color: rgb(165, 42, 42);
  }

  .burlywood-xs {
    color: #deb887;
    //color: rgb(222, 184, 135);
  }

  .cadetblue-xs {
    color: #5f9ea0;
    //color: rgb(95, 158, 160);
  }

  .chartreuse-xs {
    color: #7fff00;
    //color: rgb(127, 255, 0);
  }

  .chocolate-xs {
    color: #d2691e;
    //color: rgb(210, 105, 30);
  }

  .coral-xs {
    color: #ff7f50;
    //color: rgb(255, 127, 80);
  }

  .cornflowerblue-xs {
    color: #6495ed;
    //color: rgb(100, 149, 237);
  }

  .cornsilk-xs {
    color: #fff8dc;
    //color: rgb(255, 248, 220);
  }

  .crimson-xs {
    color: #dc143c;
    //color: rgb(220, 20, 60);
  }

  .cyan-xs {
    color: #0ff;
    //color: rgb(0, 255, 255);
  }

  .darkblue-xs {
    color: #00008b;
    //color: rgb(0, 0, 139);
  }

  .darkcyan-xs {
    color: #008b8b;
    //color: rgb(0, 139, 139);
  }

  .darkgoldenrod-xs {
    color: #b8860b;
    //color: rgb(184, 134, 11);
  }

  .darkgray,
  .darkgrey-xs {
    color: #a9a9a9;
    //color: rgb(169, 169, 169);
  }

  .darkgreen-xs {
    color: #006400;
    //color: rgb(0, 100, 0);
  }

  .darkkhaki-xs {
    color: #bdb76b;
    //color: rgb(189, 183, 107);
  }

  .darkmagenta-xs {
    color: #8b008b;
    //color: rgb(139, 0, 139);
  }

  .darkolivegreen-xs {
    color: #556b2f;
    //color: rgb(85, 107, 47);
  }

  .darkorange-xs {
    color: #ff8c00;
    //color: rgb(255, 140, 0);
  }

  .darkorchid-xs {
    color: #9932cc;
    //color: rgb(153, 50, 204);
  }

  .darkred-xs {
    color: #8b0000;
    //color: rgb(139, 0, 0);
  }

  .darksalmon-xs {
    color: #e9967a;
    //color: rgb(233, 150, 122);
  }

  .darkseagreen-xs {
    color: #8fbc8f;
    //color: rgb(143, 188, 143);
  }

  .darkslateblue-xs {
    color: #483d8b;
    //color: rgb(72, 61, 139);
  }

  .darkslategray,
  .darkslategrey-xs {
    color: #2f4f4f;
    //color: rgb(47, 79, 79);
  }

  .darkturquoise-xs {
    color: #00ced1;
    //color: rgb(0, 206, 209);
  }

  .darkviolet-xs {
    color: #9400d3;
    //color: rgb(148, 0, 211);
  }

  .deeppink-xs {
    color: #ff1493;
    //color: rgb(255, 20, 147);
  }

  .deepskyblue-xs {
    color: #00bfff;
    //color: rgb(0, 191, 255);
  }

  .dimgray,
  .dimgrey-xs {
    color: #696969;
    //color: rgb(105, 105, 105);
  }

  .dodgerblue-xs {
    color: #1e90ff;
    //color: rgb(30, 144, 255);
  }

  .firebrick-xs {
    color: #b22222;
    //color: rgb(178, 34, 34);
  }

  .floralwhite-xs {
    color: #fffaf0;
    //color: rgb(255, 250, 240);
  }

  .forestgreen-xs {
    color: #228b22;
    //color: rgb(34, 139, 34);
  }

  .fuchsia-xs {
    color: #f0f;
    //color: rgb(255, 0, 255);
  }

  .gainsboro-xs {
    color: #dcdcdc;
    //color: rgb(220, 220, 220);
  }

  .ghostwhite-xs {
    color: #f8f8ff;
    //color: rgb(248, 248, 255);
  }

  .gold-xs {
    color: #ffd700;
    //color: rgb(255, 215, 0);
  }

  .goldenrod-xs {
    color: #daa520;
    //color: rgb(218, 165, 32);
  }

  .gray,
  .grey-xs {
    color: #808080;
    //color: rgb(128, 128, 128);
  }

  .green-xs {
    color: #008000;
    //color: rgb(0, 128, 0);
  }

  .greenyellow-xs {
    color: #adff2f;
    //color: rgb(173, 255, 47);
  }

  .honeydew-xs {
    color: #f0fff0;
    //color: rgb(240, 255, 240);
  }

  .hotpink-xs {
    color: #ff69b4;
    //color: rgb(255, 105, 180);
  }

  .indianred-xs {
    color: #cd5c5c;
    //color: rgb(205, 92, 92);
  }

  .indigo-xs {
    color: #4b0082;
    //color: rgb(75, 0, 130);
  }

  .ivory-xs {
    color: #fffff0;
    //color: rgb(255, 255, 240);
  }

  .khaki-xs {
    color: #f0e68c;
    //color: rgb(240, 230, 140);
  }

  .lavender-xs {
    color: #e6e6fa;
    //color: rgb(230, 230, 250);
  }

  .lavenderblush-xs {
    color: #fff0f5;
    //color: rgb(255, 240, 245);
  }

  .lawngreen-xs {
    color: #7cfc00;
    //color: rgb(124, 252, 0);
  }

  .lemonchiffon-xs {
    color: #fffacd;
    //color: rgb(255, 250, 205);
  }

  .lightblue-xs {
    color: #add8e6;
    //color: rgb(173, 216, 230);
  }

  .lightcoral-xs {
    color: #f08080;
    //color: rgb(240, 128, 128);
  }

  .lightcyan-xs {
    color: #e0ffff;
    //color: rgb(224, 255, 255);
  }

  .lightgoldenrodyellow-xs {
    color: #fafad2;
    //color: rgb(250, 250, 210);
  }

  .lightgray,
  .lightgrey-xs {
    color: #d3d3d3;
    //color: rgb(211, 211, 211);
  }

  .lightpink-xs {
    color: #ffb6c1;
    //color: rgb(255, 182, 193);
  }

  .lightsalmon-xs {
    color: #ffa07a;
    //color: rgb(255, 160, 122);
  }

  .lightseagreen-xs {
    color: #20b2aa;
    //color: rgb(32, 178, 170);
  }

  .lightskyblue-xs {
    color: #87cefa;
    //color: rgb(135, 206, 250);
  }

  .lightslategray,
  .lightslategrey-xs {
    color: #789;
    //color: rgb(119, 136, 153);
  }

  .lightsteelblue-xs {
    color: #b0c4de;
    //color: rgb(176, 196, 222);
  }

  .lightyellow-xs {
    color: #ffffe0;
    //color: rgb(255, 255, 224);
  }

  .lime-xs {
    color: #0f0;
    //color: rgb(0, 255, 0);
  }

  .limegreen-xs {
    color: #32cd32;
    //color: rgb(50, 205, 50);
  }

  .linen-xs {
    color: #faf0e6;
    //color: rgb(250, 240, 230);
  }

  .magenta-xs {
    color: #f0f;
    //color: rgb(255, 0, 255);
  }

  .maroon-xs {
    color: #800000;
    //color: rgb(128, 0, 0);
  }

  .mediumaquamarine-xs {
    color: #66cdaa;
    //color: rgb(102, 205, 170);
  }

  .mediumblue-xs {
    color: #0000cd;
    //color: rgb(0, 0, 205);
  }

  .mediumorchid-xs {
    color: #ba55d3;
    //color: rgb(186, 85, 211);
  }

  .mediumpurple-xs {
    color: #9370db;
    //color: rgb(147, 112, 219);
  }

  .mediumseagreen-xs {
    color: #3cb371;
    //color: rgb(60, 179, 113);
  }

  .mediumslateblue-xs {
    color: #7b68ee;
    //color: rgb(123, 104, 238);
  }

  .mediumspringgreen-xs {
    color: #00fa9a;
    //color: rgb(0, 250, 154);
  }

  .mediumturquoise-xs {
    color: #48d1cc;
    //color: rgb(72, 209, 204);
  }

  .mediumvioletred-xs {
    color: #c71585;
    //color: rgb(199, 21, 133);
  }

  .midnightblue-xs {
    color: #191970;
    //color: rgb(25, 25, 112);
  }

  .mintcream-xs {
    color: #f5fffa;
    //color: rgb(245, 255, 250);
  }

  .mistyrose-xs {
    color: #ffe4e1;
    //color: rgb(255, 228, 225);
  }

  .moccasin-xs {
    color: #ffe4b5;
    //color: rgb(255, 228, 181);
  }

  .navajowhite-xs {
    color: #ffdead;
    //color: rgb(255, 222, 173);
  }

  .navy-xs {
    color: #000080;
    //color: rgb(0, 0, 128);
  }

  .oldlace-xs {
    color: #fdf5e6;
    //color: rgb(253, 245, 230);
  }

  .olive-xs {
    color: #808000;
    //color: rgb(128, 128, 0);
  }

  .olivedrab-xs {
    color: #6b8e23;
    //color: rgb(107, 142, 35);
  }

  .orange-xs {
    color: #ffa500;
    //color: rgb(255, 165, 0);
  }

  .orangered-xs {
    color: #ff4500;
    //color: rgb(255, 69, 0);
  }

  .orchid-xs {
    color: #da70d6;
    //color: rgb(218, 112, 214);
  }

  .palegoldenrod-xs {
    color: #eee8aa;
    //color: rgb(238, 232, 170);
  }

  .palegreen-xs {
    color: #98fb98;
    //color: rgb(152, 251, 152);
  }

  .paleturquoise-xs {
    color: #afeeee;
    //color: rgb(175, 238, 238);
  }

  .palevioletred-xs {
    color: #db7093;
    //color: rgb(219, 112, 147);
  }

  .papayawhip-xs {
    color: #ffefd5;
    //color: rgb(255, 239, 213);
  }

  .peachpuff-xs {
    color: #ffdab9;
    //color: rgb(255, 218, 185);
  }

  .peru-xs {
    color: #cd853f;
    //color: rgb(205, 133, 63);
  }

  .pink-xs {
    color: #ffc0cb;
    //color: rgb(255, 192, 203);
  }

  .plum-xs {
    color: #dda0dd;
    //color: rgb(221, 160, 221);
  }

  .powderblue-xs {
    color: #b0e0e6;
    //color: rgb(176, 224, 230);
  }

  .purple-xs {
    color: #800080;
    //color: rgb(128, 0, 128);
  }

  .red-xs {
    color: #f00;
    //color: rgb(255, 0, 0);
  }

  .rosybrown-xs {
    color: #bc8f8f;
    //color: rgb(188, 143, 143);
  }

  .royalblue-xs {
    color: #4169e1;
    //color: rgb(65, 105, 225);
  }

  .saddlebrown-xs {
    color: #8b4513;
    //color: rgb(139, 69, 19);
  }

  .salmon-xs {
    color: #fa8072;
    //color: rgb(250, 128, 114);
  }

  .sandybrown-xs {
    color: #f4a460;
    //color: rgb(244, 164, 96);
  }

  .seagreen-xs {
    color: #2e8b57;
    //color: rgb(46, 139, 87);
  }

  .seashell-xs {
    color: #fff5ee;
    //color: rgb(255, 245, 238);
  }

  .sienna-xs {
    color: #a0522d;
    //color: rgb(160, 82, 45);
  }

  .silver-xs {
    color: #c0c0c0;
    //color: rgb(192, 192, 192);
  }

  .skyblue-xs {
    color: #87ceeb;
    //color: rgb(135, 206, 235);
  }

  .slateblue-xs {
    color: #6a5acd;
    //color: rgb(106, 90, 205);
  }

  .slategray,
  .slategrey-xs {
    color: #708090;
    //color: rgb(112, 128, 144);
  }

  .snow-xs {
    color: #fffafa;
    //color: rgb(255, 250, 250);
  }

  .springgreen-xs {
    color: #00ff7f;
    //color: rgb(0, 255, 127);
  }

  .steelblue-xs {
    color: #4682b4;
    //color: rgb(70, 130, 180);
  }

  .tan-xs {
    color: #d2b48c;
    //color: rgb(210, 180, 140);
  }

  .teal-xs {
    color: #008080;
    //color: rgb(0, 128, 128);
  }

  .thistle-xs {
    color: #d8bfd8;
    //color: rgb(216, 191, 216);
  }

  .tomato-xs {
    color: #ff6347;
    //color: rgb(255, 99, 71);
  }

  .turquoise-xs {
    color: #40e0d0;
    //color: rgb(64, 224, 208);
  }

  .violet-xs {
    color: #ee82ee;
    //color: rgb(238, 130, 238);
  }

  .wheat-xs {
    color: #f5deb3;
    //color: rgb(245, 222, 179);
  }

  .white-xs {
    color: #fff;
    //color: rgb(255, 255, 255);
  }

  .whitesmoke-xs {
    color: #f5f5f5;
    //color: rgb(245, 245, 245);
  }

  .yellow-xs {
    color: #ff0;
    //color: rgb(255, 255, 0);
  }

  .yellowgreen-xs {
    color: #9acd32;
    //color: rgb(154, 205, 50);
  }
}

//responsive-mobile

//Extra small devices (portrait phones, less than 576px)
//No media query for `xs` since this is the default

@media (min-width: 576px) {
  //Small devices (landscape phones, 576px and up)
}

@media (min-width: 768px) {
  //Medium devices (tablets, 768px and up)
}

@media (min-width: 992px) {
  //Large devices (desktops, 992px and up)
}

@media (min-width: 1200px) {
  //Extra large devices (large desktops, 1200px and up)
}