//column

.#{$column-count} {
  > * {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  & {
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
  }

  @each $key, $value in $column-count-series {
    &.#{$key} {
      @include column-count-variant($value);
    }
  }

  @each $key, $value in $column-gap-series {
    &.#{$key} {
      @include column-gap-variant($value);
    }
  }
}

//responsive-pc

@media (max-width: 1199px) {
  //Extra large devices (large desktops, 992px and 1200px)
  .#{$column-count} {
    @each $key, $value in $column-count-series {
      &.#{$key}-lg {
        @include column-count-variant($value);
      }
    }

    @each $key, $value in $column-gap-series {
      &.#{$key}-lg {
        @include column-gap-variant($value);
      }
    }
  }
}

@media (max-width: 991px) {
  //Large devices (desktops, 768px and 992px)
  .#{$column-count} {
    @each $key, $value in $column-count-series {
      &.#{$key}-md {
        @include column-count-variant($value);
      }
    }

    @each $key, $value in $column-gap-series {
      &.#{$key}-md {
        @include column-gap-variant($value);
      }
    }
  }
}

@media (max-width: 767px) {
  //Medium devices (tablets, 576px and 768px)
  .#{$column-count} {
    @each $key, $value in $column-count-series {
      &.#{$key}-sm {
        @include column-count-variant($value);
      }
    }

    @each $key, $value in $column-gap-series {
      &.#{$key}-sm {
        @include column-gap-variant($value);
      }
    }
  }
}

@media (max-width: 575px) {
  //Small devices (landscape phones, max-width 576px)
  .#{$column-count} {
    @each $key, $value in $column-count-series {
      &.#{$key}-xs {
        @include column-count-variant($value);
      }
    }

    @each $key, $value in $column-gap-series {
      &.#{$key}-xs {
        @include column-gap-variant($value);
      }
    }
  }
}

//responsive-mobile

//Extra small devices (portrait phones, less than 576px)
//No media query for `xs` since this is the default

@media (min-width: 576px) {
  //Small devices (landscape phones, 576px and up)
}

@media (min-width: 768px) {
  //Medium devices (tablets, 768px and up)
}

@media (min-width: 992px) {
  //Large devices (desktops, 992px and up)
}

@media (min-width: 1200px) {
  //Extra large devices (large desktops, 1200px and up)
}