//link

a.#{$hover} {
  &.underline {
    text-decoration: underline;
  }

  @each $key, $value in $black-white-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $red-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $pink-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $purple-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $deep-purple-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $indigo-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $blue-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $light-blue-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $cyan-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $teal-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $green-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $light-green-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $lime-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $yellow-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $amber-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $orange-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $deep-orange-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $brown-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $grey-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $blue-grey-series {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }

  @each $key, $value in $namespace-color {
    &.#{$key}:focus, &.#{$key}:hover {
      @include font-variant($value);
    }
  }
}

//responsive-pc

@media (max-width: 1199px) {
  //Extra large devices (large desktops, 992px and 1200px)
  a.#{$hover} {
    &.underline-lg {
      text-decoration: underline;
    }

    @each $key, $value in $black-white-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $red-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $pink-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $purple-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $deep-purple-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $indigo-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $blue-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $light-blue-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $cyan-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $teal-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $green-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $light-green-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $lime-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $yellow-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $amber-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $orange-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $deep-orange-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $brown-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $grey-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $blue-grey-series {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $namespace-color {
      &.#{$key}-lg:focus, &.#{$key}-lg:hover {
        @include font-variant($value);
      }
    }
  }
}

@media (max-width: 991px) {
  //Large devices (desktops, 768px and 992px)
  a.#{$hover} {
    &.underline-md {
      text-decoration: underline;
    }

    @each $key, $value in $black-white-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $red-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $pink-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $purple-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $deep-purple-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $indigo-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $blue-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $light-blue-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $cyan-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $teal-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $green-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $light-green-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $lime-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $yellow-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $amber-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $orange-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $deep-orange-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $brown-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $grey-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $blue-grey-series {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $namespace-color {
      &.#{$key}-md:focus, &.#{$key}-md:hover {
        @include font-variant($value);
      }
    }
  }
}

@media (max-width: 767px) {
  //Medium devices (tablets, 576px and 768px)
  a.#{$hover} {
    &.underline-sm {
      text-decoration: underline;
    }

    @each $key, $value in $black-white-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $red-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $pink-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $purple-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $deep-purple-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $indigo-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $blue-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $light-blue-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $cyan-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $teal-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $green-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $light-green-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $lime-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $yellow-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $amber-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $orange-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $deep-orange-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $brown-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $grey-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $blue-grey-series {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $namespace-color {
      &.#{$key}-sm:focus, &.#{$key}-sm:hover {
        @include font-variant($value);
      }
    }
  }
}

@media (max-width: 575px) {
  //Small devices (landscape phones, max-width 576px)
  a.#{$hover} {
    &.underline-xs {
      text-decoration: underline;
    }

    @each $key, $value in $black-white-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $red-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $pink-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $purple-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $deep-purple-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $indigo-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $blue-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $light-blue-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $cyan-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $teal-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $green-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $light-green-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $lime-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $yellow-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $amber-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $orange-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $deep-orange-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $brown-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $grey-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $blue-grey-series {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }

    @each $key, $value in $namespace-color {
      &.#{$key}-xs:focus, &.#{$key}-xs:hover {
        @include font-variant($value);
      }
    }
  }
}

//responsive-mobile

//Extra small devices (portrait phones, less than 576px)
//No media query for `xs` since this is the default

@media (min-width: 576px) {
  //Small devices (landscape phones, 576px and up)
}

@media (min-width: 768px) {
  //Medium devices (tablets, 768px and up)
}

@media (min-width: 992px) {
  //Large devices (desktops, 992px and up)
}

@media (min-width: 1200px) {
  //Extra large devices (large desktops, 1200px and up)
}