//multiple-lines

.#{$single-lines} {
  width: 100%;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.#{$multiple-lines} {
  width: 100%;
  display: -webkit-box;
  /*float: left;*/
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
  .#{$multiple-lines} {
    &.#{$lines-number}.#{$font-r075} {
      height: calc(#{$rem-1} * .75 * #{$line-height-default} * #{$lines-line});
      -webkit-line-clamp: $lines-line;
    }
  }
}

@each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
  .#{$multiple-lines} {
    &.#{$lines-number}.#{$font-r0875} {
      height: calc(#{$rem-1} * .875 * #{$line-height-default} * #{$lines-line});
      -webkit-line-clamp: $lines-line;
    }
  }
}

@each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
  .#{$multiple-lines} {
    &.#{$lines-number} {
      height: calc(#{$rem-1} * 1 * #{$line-height-default} * #{$lines-line});
      -webkit-line-clamp: $lines-line;
    }
  }
}

@each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
  .#{$multiple-lines} {
    &.#{$lines-number}.#{$font-r100} {
      height: calc(#{$rem-1} * 1 * #{$line-height-default} * #{$lines-line});
      -webkit-line-clamp: $lines-line;
    }
  }
}

@each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
  .#{$multiple-lines} {
    &.#{$lines-number}.#{$font-r125} {
      height: calc(#{$rem-1} * 1.25 * #{$line-height-default} * #{$lines-line});
      -webkit-line-clamp: $lines-line;
    }
  }
}

@each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
  .#{$multiple-lines} {
    &.#{$lines-number}.#{$font-r150} {
      height: calc(#{$rem-1} * 1.5 * #{$line-height-default} * #{$lines-line});
      -webkit-line-clamp: $lines-line;
    }
  }
}

//responsive-pc

@media (max-width: 1199px) {
  //Extra large devices (large desktops, 992px and 1200px)
  .#{$single-lines}-lg {
    width: 100%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-lg.#{$font-r075} {
        height: calc(#{$rem-1} * .75 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-lg.#{$font-r0875} {
        height: calc(#{$rem-1} * .875 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-lg {
        height: calc(#{$rem-1} * 1 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-lg.#{$font-r100} {
        height: calc(#{$rem-1} * 1 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-lg.#{$font-r125} {
        height: calc(#{$rem-1} * 1.25 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-lg.#{$font-r150} {
        height: calc(#{$rem-1} * 1.5 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r075}-lg {
        height: calc(#{$rem-1} * .75 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r0875}-lg {
        height: calc(#{$rem-1} * .875 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r100}-lg {
        height: calc(#{$rem-1} * 1 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r125}-lg {
        height: calc(#{$rem-1} * 1.25 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r150}-lg {
        height: calc(#{$rem-1} * 1.5 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }
}

@media (max-width: 991px) {
  //Large devices (desktops, 768px and 992px)
  .#{$single-lines}-md {
    width: 100%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-md.#{$font-r075} {
        height: calc(#{$rem-1} * .75 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-md.#{$font-r0875} {
        height: calc(#{$rem-1} * .875 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-md {
        height: calc(#{$rem-1} * 1 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-md.#{$font-r100} {
        height: calc(#{$rem-1} * 1 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-md.#{$font-r125} {
        height: calc(#{$rem-1} * 1.25 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-md.#{$font-r150} {
        height: calc(#{$rem-1} * 1.5 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r075}-md {
        height: calc(#{$rem-1} * .75 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r0875}-md {
        height: calc(#{$rem-1} * .875 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r100}-md {
        height: calc(#{$rem-1} * 1 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r125}-md {
        height: calc(#{$rem-1} * 1.25 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r150}-md {
        height: calc(#{$rem-1} * 1.5 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }
}

@media (max-width: 767px) {
  //Medium devices (tablets, 576px and 768px)
  .#{$single-lines}-sm {
    width: 100%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-sm.#{$font-r075} {
        height: calc(#{$rem-1} * .75 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-sm.#{$font-r0875} {
        height: calc(#{$rem-1} * .875 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-sm {
        height: calc(#{$rem-1} * 1 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-sm.#{$font-r100} {
        height: calc(#{$rem-1} * 1 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-sm.#{$font-r125} {
        height: calc(#{$rem-1} * 1.25 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-sm.#{$font-r150} {
        height: calc(#{$rem-1} * 1.5 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r075}-sm {
        height: calc(#{$rem-1} * .75 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r0875}-sm {
        height: calc(#{$rem-1} * .875 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r100}-sm {
        height: calc(#{$rem-1} * 1 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r125}-sm {
        height: calc(#{$rem-1} * 1.25 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r150}-sm {
        height: calc(#{$rem-1} * 1.5 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }
}

@media (max-width: 575px) {
  //Small devices (landscape phones, max-width 576px)
  .#{$single-lines}-xs {
    width: 100%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-xs.#{$font-r075} {
        height: calc(#{$rem-1} * .75 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-xs.#{$font-r0875} {
        height: calc(#{$rem-1} * .875 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-xs {
        height: calc(#{$rem-1} * 1 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-xs.#{$font-r100} {
        height: calc(#{$rem-1} * 1 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-xs.#{$font-r125} {
        height: calc(#{$rem-1} * 1.25 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}-xs.#{$font-r150} {
        height: calc(#{$rem-1} * 1.5 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r075}-xs {
        height: calc(#{$rem-1} * .75 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r0875}-xs {
        height: calc(#{$rem-1} * .875 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r100}-xs {
        height: calc(#{$rem-1} * 1 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r125}-xs {
        height: calc(#{$rem-1} * 1.25 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }

  @each $lines-number, $lines-line in (one:1, two:2, three:3, four:4, five:5, six:6) {
    .#{$multiple-lines} {
      &.#{$lines-number}.#{$font-r150}-xs {
        height: calc(#{$rem-1} * 1.5 * #{$line-height-default} * #{$lines-line});
        -webkit-line-clamp: $lines-line;
      }
    }
  }
}

//responsive-mobile

//Extra small devices (portrait ph#{$one}s, less than 576px)
//No media query for `xs` since this is the default

@media (min-width: 576px) {
  //Small devices (landscape phones, 576px and up)
}

@media (min-width: 768px) {
  //Medium devices (tablets, 768px and up)
}

@media (min-width: 992px) {
  //Large devices (desktops, 992px and up)
}

@media (min-width: 1200px) {
  //Extra large devices (large desktops, 1200px and up)
}