//pseudo-class

[class*="#{$container}"]:before,
[class*="#{$container}"]:after,
[class*="#{$column}-"]:before,
[class*="#{$column}-"]:after,
[class*="#{$width}-"]:before,
[class*="#{$width}-"]:after,
[class*="#{$space}-"]:before,
[class*="#{$space}-"]:after,
[class*="#{$clear-fix}-"]:before,
[class*="#{$clear-fix}-"]:after {
  display: table;
  content: " ";
}

[class*="#{$container}"]:after,
[class*="#{$column}-"]:after,
[class*="#{$width}-"]:after,
[class*="#{$space}-"]:after,
[class*="#{$clear-fix}-"]:after {
  clear: both;
}

.#{$layout}:before,
.#{$layout}:after,
.#{$row}:before,
.#{$row}:after {
  display: table;
  content: "";
}

.#{$layout}:after,
.#{$row}:after {
  clear: both;
}

.#{$wrapper}:before,
.#{$wrapper}:after,
.#{$package}:before,
.#{$package}:after {
  display: table;
  content: "";
}

.#{$wrapper}:after,
.#{$package}:after {
  clear: both;
}

.#{$average}:before,
.#{$average}:after {
  display: table;
  content: "";
}

.#{$average}:after {
  clear: both;
}