//p=positive(正数)
//n=negative(负数)

//rotate

.#{$rotate} {
  &-0 {
    transform: rotate(0);
  }

  &-180 {
    transform: rotate(180deg);
  }

  &-p5 {
    transform: rotate(5deg);
  }

  &-p10 {
    transform: rotate(10deg);
  }

  &-p15 {
    transform: rotate(15deg);
  }

  &-p20 {
    transform: rotate(20deg);
  }

  &-p25 {
    transform: rotate(25deg);
  }

  &-p30 {
    transform: rotate(30deg);
  }

  &-p35 {
    transform: rotate(35deg);
  }

  &-p40 {
    transform: rotate(40deg);
  }

  &-p45 {
    transform: rotate(45deg);
  }

  &-p50 {
    transform: rotate(50deg);
  }

  &-p55 {
    transform: rotate(55deg);
  }

  &-p60 {
    transform: rotate(60deg);
  }

  &-p65 {
    transform: rotate(65deg);
  }

  &-p70 {
    transform: rotate(70deg);
  }

  &-p75 {
    transform: rotate(75deg);
  }

  &-p80 {
    transform: rotate(80deg);
  }

  &-p85 {
    transform: rotate(85deg);
  }

  &-p90 {
    transform: rotate(90deg);
  }

  &-p95 {
    transform: rotate(95deg);
  }

  &-p100 {
    transform: rotate(100deg);
  }

  &-p105 {
    transform: rotate(105deg);
  }

  &-p110 {
    transform: rotate(110deg);
  }

  &-p115 {
    transform: rotate(115deg);
  }

  &-p120 {
    transform: rotate(120deg);
  }

  &-p125 {
    transform: rotate(125deg);
  }

  &-p130 {
    transform: rotate(130deg);
  }

  &-p135 {
    transform: rotate(135deg);
  }

  &-p130 {
    transform: rotate(140deg);
  }

  &-p145 {
    transform: rotate(145deg);
  }

  &-p150 {
    transform: rotate(150deg);
  }

  &-p155 {
    transform: rotate(155deg);
  }

  &-p160 {
    transform: rotate(160deg);
  }

  &-p165 {
    transform: rotate(165deg);
  }

  &-p170 {
    transform: rotate(170deg);
  }

  &-p175 {
    transform: rotate(175deg);
  }

  &-n5 {
    transform: rotate(-5deg);
  }

  &-n10 {
    transform: rotate(-10deg);
  }

  &-n15 {
    transform: rotate(-15deg);
  }

  &-n20 {
    transform: rotate(-20deg);
  }

  &-n25 {
    transform: rotate(-25deg);
  }

  &-n30 {
    transform: rotate(-30deg);
  }

  &-n35 {
    transform: rotate(-35deg);
  }

  &-n40 {
    transform: rotate(-40deg);
  }

  &-n45 {
    transform: rotate(-45deg);
  }

  &-n50 {
    transform: rotate(-50deg);
  }

  &-n55 {
    transform: rotate(-55deg);
  }

  &-n60 {
    transform: rotate(-60deg);
  }

  &-n65 {
    transform: rotate(-65deg);
  }

  &-n70 {
    transform: rotate(-70deg);
  }

  &-n75 {
    transform: rotate(-75deg);
  }

  &-n80 {
    transform: rotate(-80deg);
  }

  &-n85 {
    transform: rotate(-85deg);
  }

  &-n90 {
    transform: rotate(-90deg);
  }

  &-n95 {
    transform: rotate(-95deg);
  }

  &-n100 {
    transform: rotate(-100deg);
  }

  &-n105 {
    transform: rotate(-105deg);
  }

  &-n110 {
    transform: rotate(-110deg);
  }

  &-n115 {
    transform: rotate(-115deg);
  }

  &-n120 {
    transform: rotate(-120deg);
  }

  &-n125 {
    transform: rotate(-125deg);
  }

  &-n130 {
    transform: rotate(-130deg);
  }

  &-n135 {
    transform: rotate(-135deg);
  }

  &-n130 {
    transform: rotate(-140deg);
  }

  &-n145 {
    transform: rotate(-145deg);
  }

  &-n150 {
    transform: rotate(-150deg);
  }

  &-n155 {
    transform: rotate(-155deg);
  }

  &-n160 {
    transform: rotate(-160deg);
  }

  &-n165 {
    transform: rotate(-165deg);
  }

  &-n170 {
    transform: rotate(-170deg);
  }

  &-n175 {
    transform: rotate(-175deg);
  }
}

//scale

.#{$scale} {
  &-1 {
    transform: scale(1, 1);
  }
}

//responsive-pc

@media (max-width: 1199px) {
  //Extra large devices (large desktops, 992px and 1200px)
  .#{$rotate} {
    &-0-lg {
      transform: rotate(0);
    }

    &-180-lg {
      transform: rotate(180deg);
    }

    &-p5-lg {
      transform: rotate(5deg);
    }

    &-p10-lg {
      transform: rotate(10deg);
    }

    &-p15-lg {
      transform: rotate(15deg);
    }

    &-p20-lg {
      transform: rotate(20deg);
    }

    &-p25-lg {
      transform: rotate(25deg);
    }

    &-p30-lg {
      transform: rotate(30deg);
    }

    &-p35-lg {
      transform: rotate(35deg);
    }

    &-p40-lg {
      transform: rotate(40deg);
    }

    &-p45-lg {
      transform: rotate(45deg);
    }

    &-p50-lg {
      transform: rotate(50deg);
    }

    &-p55-lg {
      transform: rotate(55deg);
    }

    &-p60-lg {
      transform: rotate(60deg);
    }

    &-p65-lg {
      transform: rotate(65deg);
    }

    &-p70-lg {
      transform: rotate(70deg);
    }

    &-p75-lg {
      transform: rotate(75deg);
    }

    &-p80-lg {
      transform: rotate(80deg);
    }

    &-p85-lg {
      transform: rotate(85deg);
    }

    &-p90-lg {
      transform: rotate(90deg);
    }

    &-p95-lg {
      transform: rotate(95deg);
    }

    &-p100-lg {
      transform: rotate(100deg);
    }

    &-p105-lg {
      transform: rotate(105deg);
    }

    &-p110-lg {
      transform: rotate(110deg);
    }

    &-p115-lg {
      transform: rotate(115deg);
    }

    &-p120-lg {
      transform: rotate(120deg);
    }

    &-p125-lg {
      transform: rotate(125deg);
    }

    &-p130-lg {
      transform: rotate(130deg);
    }

    &-p135-lg {
      transform: rotate(135deg);
    }

    &-p130-lg {
      transform: rotate(140deg);
    }

    &-p145-lg {
      transform: rotate(145deg);
    }

    &-p150-lg {
      transform: rotate(150deg);
    }

    &-p155-lg {
      transform: rotate(155deg);
    }

    &-p160-lg {
      transform: rotate(160deg);
    }

    &-p165-lg {
      transform: rotate(165deg);
    }

    &-p170-lg {
      transform: rotate(170deg);
    }

    &-p175-lg {
      transform: rotate(175deg);
    }

    &-n5-lg {
      transform: rotate(-5deg);
    }

    &-n10-lg {
      transform: rotate(-10deg);
    }

    &-n15-lg {
      transform: rotate(-15deg);
    }

    &-n20-lg {
      transform: rotate(-20deg);
    }

    &-n25-lg {
      transform: rotate(-25deg);
    }

    &-n30-lg {
      transform: rotate(-30deg);
    }

    &-n35-lg {
      transform: rotate(-35deg);
    }

    &-n40-lg {
      transform: rotate(-40deg);
    }

    &-n45-lg {
      transform: rotate(-45deg);
    }

    &-n50-lg {
      transform: rotate(-50deg);
    }

    &-n55-lg {
      transform: rotate(-55deg);
    }

    &-n60-lg {
      transform: rotate(-60deg);
    }

    &-n65-lg {
      transform: rotate(-65deg);
    }

    &-n70-lg {
      transform: rotate(-70deg);
    }

    &-n75-lg {
      transform: rotate(-75deg);
    }

    &-n80-lg {
      transform: rotate(-80deg);
    }

    &-n85-lg {
      transform: rotate(-85deg);
    }

    &-n90-lg {
      transform: rotate(-90deg);
    }

    &-n95-lg {
      transform: rotate(-95deg);
    }

    &-n100-lg {
      transform: rotate(-100deg);
    }

    &-n105-lg {
      transform: rotate(-105deg);
    }

    &-n110-lg {
      transform: rotate(-110deg);
    }

    &-n115-lg {
      transform: rotate(-115deg);
    }

    &-n120-lg {
      transform: rotate(-120deg);
    }

    &-n125-lg {
      transform: rotate(-125deg);
    }

    &-n130-lg {
      transform: rotate(-130deg);
    }

    &-n135-lg {
      transform: rotate(-135deg);
    }

    &-n130-lg {
      transform: rotate(-140deg);
    }

    &-n145-lg {
      transform: rotate(-145deg);
    }

    &-n150-lg {
      transform: rotate(-150deg);
    }

    &-n155-lg {
      transform: rotate(-155deg);
    }

    &-n160-lg {
      transform: rotate(-160deg);
    }

    &-n165-lg {
      transform: rotate(-165deg);
    }

    &-n170-lg {
      transform: rotate(-170deg);
    }

    &-n175-lg {
      transform: rotate(-175deg);
    }
  }

  .#{$scale} {
    &-1-lg {
      transform: scale(1, 1);
    }
  }
}

@media (max-width: 991px) {
  //Large devices (desktops, 768px and 992px)
  .#{$rotate} {
    &-0-md {
      transform: rotate(0);
    }

    &-180-md {
      transform: rotate(180deg);
    }

    &-p5-md {
      transform: rotate(5deg);
    }

    &-p10-md {
      transform: rotate(10deg);
    }

    &-p15-md {
      transform: rotate(15deg);
    }

    &-p20-md {
      transform: rotate(20deg);
    }

    &-p25-md {
      transform: rotate(25deg);
    }

    &-p30-md {
      transform: rotate(30deg);
    }

    &-p35-md {
      transform: rotate(35deg);
    }

    &-p40-md {
      transform: rotate(40deg);
    }

    &-p45-md {
      transform: rotate(45deg);
    }

    &-p50-md {
      transform: rotate(50deg);
    }

    &-p55-md {
      transform: rotate(55deg);
    }

    &-p60-md {
      transform: rotate(60deg);
    }

    &-p65-md {
      transform: rotate(65deg);
    }

    &-p70-md {
      transform: rotate(70deg);
    }

    &-p75-md {
      transform: rotate(75deg);
    }

    &-p80-md {
      transform: rotate(80deg);
    }

    &-p85-md {
      transform: rotate(85deg);
    }

    &-p90-md {
      transform: rotate(90deg);
    }

    &-p95-md {
      transform: rotate(95deg);
    }

    &-p100-md {
      transform: rotate(100deg);
    }

    &-p105-md {
      transform: rotate(105deg);
    }

    &-p110-md {
      transform: rotate(110deg);
    }

    &-p115-md {
      transform: rotate(115deg);
    }

    &-p120-md {
      transform: rotate(120deg);
    }

    &-p125-md {
      transform: rotate(125deg);
    }

    &-p130-md {
      transform: rotate(130deg);
    }

    &-p135-md {
      transform: rotate(135deg);
    }

    &-p130-md {
      transform: rotate(140deg);
    }

    &-p145-md {
      transform: rotate(145deg);
    }

    &-p150-md {
      transform: rotate(150deg);
    }

    &-p155-md {
      transform: rotate(155deg);
    }

    &-p160-md {
      transform: rotate(160deg);
    }

    &-p165-md {
      transform: rotate(165deg);
    }

    &-p170-md {
      transform: rotate(170deg);
    }

    &-p175-md {
      transform: rotate(175deg);
    }

    &-n5-md {
      transform: rotate(-5deg);
    }

    &-n10-md {
      transform: rotate(-10deg);
    }

    &-n15-md {
      transform: rotate(-15deg);
    }

    &-n20-md {
      transform: rotate(-20deg);
    }

    &-n25-md {
      transform: rotate(-25deg);
    }

    &-n30-md {
      transform: rotate(-30deg);
    }

    &-n35-md {
      transform: rotate(-35deg);
    }

    &-n40-md {
      transform: rotate(-40deg);
    }

    &-n45-md {
      transform: rotate(-45deg);
    }

    &-n50-md {
      transform: rotate(-50deg);
    }

    &-n55-md {
      transform: rotate(-55deg);
    }

    &-n60-md {
      transform: rotate(-60deg);
    }

    &-n65-md {
      transform: rotate(-65deg);
    }

    &-n70-md {
      transform: rotate(-70deg);
    }

    &-n75-md {
      transform: rotate(-75deg);
    }

    &-n80-md {
      transform: rotate(-80deg);
    }

    &-n85-md {
      transform: rotate(-85deg);
    }

    &-n90-md {
      transform: rotate(-90deg);
    }

    &-n95-md {
      transform: rotate(-95deg);
    }

    &-n100-md {
      transform: rotate(-100deg);
    }

    &-n105-md {
      transform: rotate(-105deg);
    }

    &-n110-md {
      transform: rotate(-110deg);
    }

    &-n115-md {
      transform: rotate(-115deg);
    }

    &-n120-md {
      transform: rotate(-120deg);
    }

    &-n125-md {
      transform: rotate(-125deg);
    }

    &-n130-md {
      transform: rotate(-130deg);
    }

    &-n135-md {
      transform: rotate(-135deg);
    }

    &-n130-md {
      transform: rotate(-140deg);
    }

    &-n145-md {
      transform: rotate(-145deg);
    }

    &-n150-md {
      transform: rotate(-150deg);
    }

    &-n155-md {
      transform: rotate(-155deg);
    }

    &-n160-md {
      transform: rotate(-160deg);
    }

    &-n165-md {
      transform: rotate(-165deg);
    }

    &-n170-md {
      transform: rotate(-170deg);
    }

    &-n175-md {
      transform: rotate(-175deg);
    }
  }

  .#{$scale} {
    &-1-md {
      transform: scale(1, 1);
    }
  }
}

@media (max-width: 767px) {
  //Medium devices (tablets, 576px and 768px)
  .#{$rotate} {
    &-0-sm {
      transform: rotate(0);
    }

    &-180-sm {
      transform: rotate(180deg);
    }

    &-p5-sm {
      transform: rotate(5deg);
    }

    &-p10-sm {
      transform: rotate(10deg);
    }

    &-p15-sm {
      transform: rotate(15deg);
    }

    &-p20-sm {
      transform: rotate(20deg);
    }

    &-p25-sm {
      transform: rotate(25deg);
    }

    &-p30-sm {
      transform: rotate(30deg);
    }

    &-p35-sm {
      transform: rotate(35deg);
    }

    &-p40-sm {
      transform: rotate(40deg);
    }

    &-p45-sm {
      transform: rotate(45deg);
    }

    &-p50-sm {
      transform: rotate(50deg);
    }

    &-p55-sm {
      transform: rotate(55deg);
    }

    &-p60-sm {
      transform: rotate(60deg);
    }

    &-p65-sm {
      transform: rotate(65deg);
    }

    &-p70-sm {
      transform: rotate(70deg);
    }

    &-p75-sm {
      transform: rotate(75deg);
    }

    &-p80-sm {
      transform: rotate(80deg);
    }

    &-p85-sm {
      transform: rotate(85deg);
    }

    &-p90-sm {
      transform: rotate(90deg);
    }

    &-p95-sm {
      transform: rotate(95deg);
    }

    &-p100-sm {
      transform: rotate(100deg);
    }

    &-p105-sm {
      transform: rotate(105deg);
    }

    &-p110-sm {
      transform: rotate(110deg);
    }

    &-p115-sm {
      transform: rotate(115deg);
    }

    &-p120-sm {
      transform: rotate(120deg);
    }

    &-p125-sm {
      transform: rotate(125deg);
    }

    &-p130-sm {
      transform: rotate(130deg);
    }

    &-p135-sm {
      transform: rotate(135deg);
    }

    &-p130-sm {
      transform: rotate(140deg);
    }

    &-p145-sm {
      transform: rotate(145deg);
    }

    &-p150-sm {
      transform: rotate(150deg);
    }

    &-p155-sm {
      transform: rotate(155deg);
    }

    &-p160-sm {
      transform: rotate(160deg);
    }

    &-p165-sm {
      transform: rotate(165deg);
    }

    &-p170-sm {
      transform: rotate(170deg);
    }

    &-p175-sm {
      transform: rotate(175deg);
    }

    &-n5-sm {
      transform: rotate(-5deg);
    }

    &-n10-sm {
      transform: rotate(-10deg);
    }

    &-n15-sm {
      transform: rotate(-15deg);
    }

    &-n20-sm {
      transform: rotate(-20deg);
    }

    &-n25-sm {
      transform: rotate(-25deg);
    }

    &-n30-sm {
      transform: rotate(-30deg);
    }

    &-n35-sm {
      transform: rotate(-35deg);
    }

    &-n40-sm {
      transform: rotate(-40deg);
    }

    &-n45-sm {
      transform: rotate(-45deg);
    }

    &-n50-sm {
      transform: rotate(-50deg);
    }

    &-n55-sm {
      transform: rotate(-55deg);
    }

    &-n60-sm {
      transform: rotate(-60deg);
    }

    &-n65-sm {
      transform: rotate(-65deg);
    }

    &-n70-sm {
      transform: rotate(-70deg);
    }

    &-n75-sm {
      transform: rotate(-75deg);
    }

    &-n80-sm {
      transform: rotate(-80deg);
    }

    &-n85-sm {
      transform: rotate(-85deg);
    }

    &-n90-sm {
      transform: rotate(-90deg);
    }

    &-n95-sm {
      transform: rotate(-95deg);
    }

    &-n100-sm {
      transform: rotate(-100deg);
    }

    &-n105-sm {
      transform: rotate(-105deg);
    }

    &-n110-sm {
      transform: rotate(-110deg);
    }

    &-n115-sm {
      transform: rotate(-115deg);
    }

    &-n120-sm {
      transform: rotate(-120deg);
    }

    &-n125-sm {
      transform: rotate(-125deg);
    }

    &-n130-sm {
      transform: rotate(-130deg);
    }

    &-n135-sm {
      transform: rotate(-135deg);
    }

    &-n130-sm {
      transform: rotate(-140deg);
    }

    &-n145-sm {
      transform: rotate(-145deg);
    }

    &-n150-sm {
      transform: rotate(-150deg);
    }

    &-n155-sm {
      transform: rotate(-155deg);
    }

    &-n160-sm {
      transform: rotate(-160deg);
    }

    &-n165-sm {
      transform: rotate(-165deg);
    }

    &-n170-sm {
      transform: rotate(-170deg);
    }

    &-n175-sm {
      transform: rotate(-175deg);
    }
  }

  .#{$scale} {
    &-1-sm {
      transform: scale(1, 1);
    }
  }
}

@media (max-width: 575px) {
  //Small devices (landscape phones, max-width 576px)
  .#{$rotate} {
    &-0-xs {
      transform: rotate(0);
    }

    &-180-xs {
      transform: rotate(180deg);
    }

    &-p5-xs {
      transform: rotate(5deg);
    }

    &-p10-xs {
      transform: rotate(10deg);
    }

    &-p15-xs {
      transform: rotate(15deg);
    }

    &-p20-xs {
      transform: rotate(20deg);
    }

    &-p25-xs {
      transform: rotate(25deg);
    }

    &-p30-xs {
      transform: rotate(30deg);
    }

    &-p35-xs {
      transform: rotate(35deg);
    }

    &-p40-xs {
      transform: rotate(40deg);
    }

    &-p45-xs {
      transform: rotate(45deg);
    }

    &-p50-xs {
      transform: rotate(50deg);
    }

    &-p55-xs {
      transform: rotate(55deg);
    }

    &-p60-xs {
      transform: rotate(60deg);
    }

    &-p65-xs {
      transform: rotate(65deg);
    }

    &-p70-xs {
      transform: rotate(70deg);
    }

    &-p75-xs {
      transform: rotate(75deg);
    }

    &-p80-xs {
      transform: rotate(80deg);
    }

    &-p85-xs {
      transform: rotate(85deg);
    }

    &-p90-xs {
      transform: rotate(90deg);
    }

    &-p95-xs {
      transform: rotate(95deg);
    }

    &-p100-xs {
      transform: rotate(100deg);
    }

    &-p105-xs {
      transform: rotate(105deg);
    }

    &-p110-xs {
      transform: rotate(110deg);
    }

    &-p115-xs {
      transform: rotate(115deg);
    }

    &-p120-xs {
      transform: rotate(120deg);
    }

    &-p125-xs {
      transform: rotate(125deg);
    }

    &-p130-xs {
      transform: rotate(130deg);
    }

    &-p135-xs {
      transform: rotate(135deg);
    }

    &-p130-xs {
      transform: rotate(140deg);
    }

    &-p145-xs {
      transform: rotate(145deg);
    }

    &-p150-xs {
      transform: rotate(150deg);
    }

    &-p155-xs {
      transform: rotate(155deg);
    }

    &-p160-xs {
      transform: rotate(160deg);
    }

    &-p165-xs {
      transform: rotate(165deg);
    }

    &-p170-xs {
      transform: rotate(170deg);
    }

    &-p175-xs {
      transform: rotate(175deg);
    }

    &-n5-xs {
      transform: rotate(-5deg);
    }

    &-n10-xs {
      transform: rotate(-10deg);
    }

    &-n15-xs {
      transform: rotate(-15deg);
    }

    &-n20-xs {
      transform: rotate(-20deg);
    }

    &-n25-xs {
      transform: rotate(-25deg);
    }

    &-n30-xs {
      transform: rotate(-30deg);
    }

    &-n35-xs {
      transform: rotate(-35deg);
    }

    &-n40-xs {
      transform: rotate(-40deg);
    }

    &-n45-xs {
      transform: rotate(-45deg);
    }

    &-n50-xs {
      transform: rotate(-50deg);
    }

    &-n55-xs {
      transform: rotate(-55deg);
    }

    &-n60-xs {
      transform: rotate(-60deg);
    }

    &-n65-xs {
      transform: rotate(-65deg);
    }

    &-n70-xs {
      transform: rotate(-70deg);
    }

    &-n75-xs {
      transform: rotate(-75deg);
    }

    &-n80-xs {
      transform: rotate(-80deg);
    }

    &-n85-xs {
      transform: rotate(-85deg);
    }

    &-n90-xs {
      transform: rotate(-90deg);
    }

    &-n95-xs {
      transform: rotate(-95deg);
    }

    &-n100-xs {
      transform: rotate(-100deg);
    }

    &-n105-xs {
      transform: rotate(-105deg);
    }

    &-n110-xs {
      transform: rotate(-110deg);
    }

    &-n115-xs {
      transform: rotate(-115deg);
    }

    &-n120-xs {
      transform: rotate(-120deg);
    }

    &-n125-xs {
      transform: rotate(-125deg);
    }

    &-n130-xs {
      transform: rotate(-130deg);
    }

    &-n135-xs {
      transform: rotate(-135deg);
    }

    &-n130-xs {
      transform: rotate(-140deg);
    }

    &-n145-xs {
      transform: rotate(-145deg);
    }

    &-n150-xs {
      transform: rotate(-150deg);
    }

    &-n155-xs {
      transform: rotate(-155deg);
    }

    &-n160-xs {
      transform: rotate(-160deg);
    }

    &-n165-xs {
      transform: rotate(-165deg);
    }

    &-n170-xs {
      transform: rotate(-170deg);
    }

    &-n175-xs {
      transform: rotate(-175deg);
    }
  }

  .#{$scale} {
    &-1-xs {
      transform: scale(1, 1);
    }
  }
}

//responsive-mobile

//Extra small devices (portrait phones, less than 576px)
//No media query for `xs` since this is the default

@media (min-width: 576px) {
  //Small devices (landscape phones, 576px and up)
}

@media (min-width: 768px) {
  //Medium devices (tablets, 768px and up)
}

@media (min-width: 992px) {
  //Large devices (desktops, 992px and up)
}

@media (min-width: 1200px) {
  //Extra large devices (large desktops, 1200px and up)
}