//width-percent

.#{$layout} > [class^="w-"],
.#{$row} > [class^="w-"] {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.#{$layout} > [class^="w-"],
.#{$row} > [class^="w-"] {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

//width-percent

.#{$width} {
  @each $key, $value in $width-grid-series {
    &-#{$key} {
      @include width-flex-grid-variant($value);
    }
  }
}

//offset

.#{$width-offset} {
  @each $key, $value in $width-offset-series {
    &-#{$key} {
      @include width-flex-offset-variant($value);
    }
  }
}

//width-pixel

.#{$width} {
  @each $key, $value in $width-pixel-series {
    &-#{$key} {
      @include width-pixel-variant($value);
    }
  }
}

//other

.#{$max-width} {
  &-full {
    max-width: 100%;
  }
}

.#{$min-width} {
  &-0 {
    min-width: 0;
  }

  &-full {
    min-width: 100%;
  }

  &-screen {
    min-width: 100vw;
  }
}

//responsive-pc

@media (max-width: 1199px) {
  //Extra large devices (large desktops, 992px and 1200px)
  .#{$width} {
    @each $key, $value in $width-grid-series {
      &-#{$key}-lg {
        @include width-flex-grid-variant($value);
      }
    }
  }

  .#{$width-offset} {
    @each $key, $value in $width-offset-series {
      &-#{$key}-lg {
        @include width-flex-offset-variant($value);
      }
    }
  }

  .#{$width} {
    @each $key, $value in $width-pixel-series {
      &-#{$key}-lg {
        @include width-pixel-variant($value);
      }
    }
  }

  .#{$max-width} {
    &-full-lg {
      max-width: 100%;
    }
  }

  .#{$min-width} {
    &-0-lg {
      min-width: 0;
    }

    &-full-lg {
      min-width: 100%;
    }

    &-screen-lg {
      min-width: 100vw;
    }
  }
}

@media (max-width: 991px) {
  //Large devices (desktops, 768px and 992px)
  .#{$width} {
    @each $key, $value in $width-grid-series {
      &-#{$key}-md {
        @include width-flex-grid-variant($value);
      }
    }
  }

  .#{$width-offset} {
    @each $key, $value in $width-offset-series {
      &-#{$key}-md {
        @include width-flex-offset-variant($value);
      }
    }
  }

  .#{$width} {
    @each $key, $value in $width-pixel-series {
      &-#{$key}-md {
        @include width-pixel-variant($value);
      }
    }
  }

  .#{$max-width} {
    &-full-md {
      max-width: 100%;
    }
  }

  .#{$min-width} {
    &-0-md {
      min-width: 0;
    }

    &-full-md {
      min-width: 100%;
    }

    &-screen-md {
      min-width: 100vw;
    }
  }
}

@media (max-width: 767px) {
  //Medium devices (tablets, 576px and 768px)
  .#{$width} {
    @each $key, $value in $width-grid-series {
      &-#{$key}-sm {
        @include width-flex-grid-variant($value);
      }
    }
  }

  .#{$width-offset} {
    @each $key, $value in $width-offset-series {
      &-#{$key}-sm {
        @include width-flex-offset-variant($value);
      }
    }
  }

  .#{$width} {
    @each $key, $value in $width-pixel-series {
      &-#{$key}-sm {
        @include width-pixel-variant($value);
      }
    }
  }

  .#{$max-width} {
    &-full-sm {
      max-width: 100%;
    }
  }

  .#{$min-width} {
    &-0-sm {
      min-width: 0;
    }

    &-full-sm {
      min-width: 100%;
    }

    &-screen-sm {
      min-width: 100vw;
    }
  }
}

@media (max-width: 575px) {
  //Small devices (landscape phones, max-width 576px)
  .#{$width} {
    @each $key, $value in $width-grid-series {
      &-#{$key}-xs {
        @include width-flex-grid-variant($value);
      }
    }
  }

  .#{$width-offset} {
    @each $key, $value in $width-offset-series {
      &-#{$key}-xs {
        @include width-flex-offset-variant($value);
      }
    }
  }

  .#{$width} {
    @each $key, $value in $width-pixel-series {
      &-#{$key}-xs {
        @include width-pixel-variant($value);
      }
    }
  }

  .#{$max-width} {
    &-full-xs {
      max-width: 100%;
    }
  }

  .#{$min-width} {
    &-0-xs {
      min-width: 0;
    }

    &-full-xs {
      min-width: 100%;
    }

    &-screen-xs {
      min-width: 100vw;
    }
  }
}

//responsive-mobile

//Extra small devices (portrait phones, less than 576px)
//No media query for `xs` since this is the default

@media (min-width: 576px) {
  //Small devices (landscape phones, 576px and up)
}

@media (min-width: 768px) {
  //Medium devices (tablets, 768px and up)
}

@media (min-width: 992px) {
  //Large devices (desktops, 992px and up)
}

@media (min-width: 1200px) {
  //Extra large devices (large desktops, 1200px and up)
}